<div class="container">
  <h1>ESTRATEGIAS DEBILIDADES VS OPORTUNIDADES</h1>
  <label for="realizara">QUE REALIZARÁ:</label>
  <input type="text" id="realizara" class="form-control" placeholder="Digite aquí">
  <label for="comohacer">COMO LO VA A HACER:</label>
  <input type="text" id="comohacer" class="form-control" placeholder="Digite aquí">
  <label for="inicio">CUANDO VA A INICIAR:</label>
  <input type="date" id="inicio" class="form-control">
  <button class="btn btn-primary" (click)="estrategias1f1aRoute()">Finalizar</button>
  <button class="btn btn-success">Guardar y Volver al Menú</button>
</div>
