<div class="container">
  <h1>ESTRATEGIAS DEBILIDADES VS OPORTUNIDADES</h1>
  <label for="realizara">QUE REALIZARÁ:</label>
  <input type="text" id="realizara" class="form-control" placeholder="Digite aquí">
  <label for="comohacer">COMO LO VA A HACER:</label>
  <input type="text" id="comohacer" class="form-control" placeholder="Digite aquí">
  <div class="row">
    <div class="col-md-6">
      <button class="ideacion-button" (click)="estrategias1f1aRoute()">Finalizar</button>
    </div>
    <div class="col-md-6">
      <button class="plus-button" (click)="partialSaveRoute()">Guardar y Volver al Menú</button>
    </div>
  </div>
</div>
