<div class="container">

  <br>
  <span><img src="./assets/iconos/simulacion.svg" style="max-width: 40px; max-height: 40px;" alt="Imagen" class="img-fluid"></span>
  <span><b style="font-size: 1.8rem;">  Simulación financiera</b></span>
  <hr>
  <h1>Creación de empleados:</h1>
  <img src="./assets/imagenes/separadorsim.jpg" style="max-width: 140px; max-height: 20px;" alt="Imagen" class="img-fluid">
  <br>

  <div class="row">
    <div class="col-md-6">
      <h2>Empleado:</h2>
    </div>
    <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Digite aquí" [(ngModel)]="empleado" name="empleado" required>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h2>Pertenece al área de producción:</h2>
    </div>
    <div class="col-md-3">
      <b>Sí </b>
      <input type="radio" name="isProduccion" [(ngModel)]="isProduccion" value="1">
    </div>
    <div class="col-md-3">
      <b>No </b>
      <input type="radio" name="isProduccion" [(ngModel)]="isProduccion" value="0">
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h2>Perfil:</h2>
    </div>
    <div class="col-md-6">
      <select id="idPerfil" class="form-control" [(ngModel)]="idPerfil">
        <option *ngFor="let option of optionsP" [value]="option.idPerfil">{{ option.perfil }}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h2>Nivel de riesgo ARL:</h2>
    </div>
    <div class="col-md-6">
      <select id="idRiesgo" class="form-control" [(ngModel)]="idRiesgo">
        <option [value]="1">Riesgo I</option>
        <option [value]="2">Riesgo II</option>
        <option [value]="3">Riesgo III</option>
        <option [value]="4">Riesgo IV</option>
        <option [value]="5">Riesgo V</option>
      </select>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-6">
      <button class="ideacion-button" (click)="guardarRoute()">Guardar</button>
    </div>
    <div class="col-md-6">
      <button class="plus-button" (click)="regresarRoute()">Regresar</button>
    </div>
  </div>

  <hr>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Empleado</th>
        <th>Área del empleado</th>
      </tr>
    </thead>
    <tr *ngFor="let option of options">
      <td>
        {{ option.empleado }}
      </td>
      <td>
        <p *ngIf="option.produccion==1">Producción</p>
        <p *ngIf="option.produccion!=1">Administrativo</p>
      </td>
    </tr>
  </table>

</div>

