<div class="container">
  <table class="table table-bordered">
    <tr>
      <td class="category-cell">MATRIZ DOFA</td>
      <td class="category-cell">FORTALEZAS</td>
      <td class="category-cell">DEBILIDADES</td>
    </tr>
    <tr>
      <td class="category-cell">OPORTUNIDADES</td>
      <td class="strategy-cell">
        <p>Estrategias FORTALEZAS VS OPORTUNIDADES: Uso de fortalezas (F) para aprovechar oportunidades (O)</p>
        <button class="btn btn-success">AGREGAR</button>
      </td>
      <td class="strategy-cell">
        <p>Estrategias DEBILIDADES VS OPORTUNIDADES: Vencer debilidades (D) aprovechando oportunidades (O)</p>
        <button class="btn btn-success">AGREGAR</button>
      </td>
    </tr>
    <tr>
      <td class="category-cell">AMENAZAS</td>
      <td class="strategy-cell">
        <p>Estrategias FORTALEZAS VS AMENAZAS: Usar fortalezas (F) para evitar amenazas (A)</p>
        <button class="btn btn-success">AGREGAR</button>
      </td>
      <td class="strategy-cell">
        <p>Estrategias DEBLIDADES VS AMENAZAS: Reducir a un mínimo debilidades (D) y evitar amenazas (A)</p>
        <button class="btn btn-success">AGREGAR</button>
      </td>
    </tr>
  </table>
      <button class="btn btn-primary" (click)="estrategias1f10Route()">Finalizar</button>
      <button class="btn btn-success">Guardar y Volver al Menú</button>
</div>
