.container {
  margin-top: 20px;
}

h1 {
  text-align: left;
}

.row {
  margin-top: 20px;
}

.img-fluid {
  height: 100%;
  width: 100%;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

select {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

select {
  height: 38px;
}

.ideacion-button {
  margin-top: 10px;
  padding: 8px;
  background: #FFD401 0% 0% no-repeat padding-box;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.plus-button {
  margin-top: 10px;
  padding: 8px;
  background: #F9D65D 0% 0% no-repeat padding-box;
  opacity: 0.75;
  border-radius: 4px;
  border: 1px solid #ccc;
}

@media (max-width:767px){

  .container {
    margin-top: 20px;
  }

  h1 {
    text-align: left;
  }

  .row {
    margin-top: 20px;
  }

  #img-basicos{
    width: 50vw;
    margin-left: 15vw;
  }

  .form-group {
    margin-bottom: 20px;
  }

  label {
    font-weight: bold;
  }

  select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

  select {
    height: 38px;
  }

  .ideacion-button {
    margin-top: 10px;
    padding: 8px;
    background: #FFD401 0% 0% no-repeat padding-box;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  /*******************************************/
  .plus-button {
    margin-top: 10px;
    padding: 8px;
    background: #F9D65D 0% 0% no-repeat padding-box;
    opacity: 0.75;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  /*******************************************/

}
