<div class="container">
  <h1>ESTRATEGIAS FORTALEZAS VS OPORTUNIDADES:</h1>
  <label for="accionFO">QUE REALIZARÁ:</label>
  <input type="text" class="form-control" placeholder="Digite aquí" [(ngModel)]="accionFO" name="accionFO" required>
  <label for="estrategiaFO">QUE ALIADOS TENDRÁ:</label>
  <input type="text" class="form-control" placeholder="Digite aquí" [(ngModel)]="estrategiaFO" name="estrategiaFO" required>
  <div class="row">
    <div class="col-md-6">
      <button class="ideacion-button" (click)="terminarRoute()">Finalizar</button>
    </div>
    <div class="col-md-6">
      <button class="plus-button" (click)="continuarRoute()">Guardar y Regresar</button>
    </div>
  </div>
</div>
