<div class="container">

  <br>
  <span><img src="./assets/iconos/bombilla.svg" style="max-width: 40px; max-height: 40px;" alt="Imagen" class="img-fluid"></span>
  <span><b style="font-size: 1.8rem;">  Ideación</b></span>
  <hr>
  <h1>Selección ideas de negocio</h1>
  <img src="./assets/imagenes/separador.jpg" style="max-width: 140px; max-height: 20px;" alt="Imagen" class="img-fluid">
  <br>

  <div class="row">
    <div class="col-md-8">
      <br><br>
      <p>Ahora puedes seleccionar la idea de negocio más adecuada para continuar con el proceso; el cuadro muestra el orden de las ideas
        organizadas según la relevancia y afinidad con tu información; para continuar, elije la opción que más te agrade del listado que se muestra.</p><br><br>
        <table class="table">
          <thead>
            <tr>
              <th>Nombre de la Idea</th>
              <th>Porcentaje</th>
              <th>Seleccionar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let idea of arrayIdeas">
              <td>{{ idea.nombreIdea }}</td>
              <td>{{ idea.porcentaje }}</td>
              <td>
                <div class="form-check">
                  <input type="radio" name="selectedIdea" [(ngModel)]="selectedIdea" [value]="idea.nombreIdea" (change)="changeOptional()">
                </div>
              </td>
            </tr>
          </tbody>
        </table>

      <form method="post">
        <button class="ideacion-button" type="submit" (click)="seleccionSave()">Continuemos</button>
      </form>

    </div>

    <div class="col-md-4">
      <img src="./assets/imagenes/idea.png" alt="Imagen" class="img-fluid" id="img-matriz" style="max-height: 85%; max-width: 85%;">
    </div>

  </div>
</div>
