<h1>Selección ideas de negocio</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Criterios</h2>
      <p>Ahora puedes seleccionar la idea de negocio más adecuada para continuar con el proceso; el cuadro muestra el orden de las ideas
        organizadas según la relevancia y afinidad con tu información; para continuar, elije la opción que más te agrade del listado que se muestra..</p>
      <img src="./assets/evaluacion.png" alt="Imagen" class="img-fluid" style="max-height: 55%; max-width: 55%;">
      <div class="col-xs-12 col-md-4">
        <div class="custom-div" *ngIf="isOptionSelected">
          <form class="custom-form" (submit)="seleccionSave()">
            <button type="submit">Continuemos</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre de la Idea</th>
            <th>Porcentaje</th>
            <th>Seleccionar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let idea of arrayIdeas">
            <td>{{ idea.id }}</td>
            <td>{{ idea.nombreIdea }}</td>
            <td>{{ idea.porcentaje }}</td>
            <td>
              <div class="form-check">
                <input type="radio" name="selectedIdea" [(ngModel)]="selectedIdea" [value]="idea.nombreIdea" (change)="changeOptional()">
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
