
.ideacion-button {
  margin-top: 10px;
  margin-bottom: 2vw;
  padding: 8px;
  background: #FFD401 0% 0% no-repeat padding-box;
  border-radius: 4px;
  border: 1px solid #ccc;
}

@media (max-width:767px){
  #img-matriz{
    margin-left: 15vw;
    margin-top: 3vw;
  }
}
