<div class="container">

  <br>
  <span><img src="./assets/iconos/formalizacion.svg" style="max-width: 40px; max-height: 40px;" alt="Imagen" class="img-fluid"></span>
  <span><b style="font-size: 1.8rem;">  Formalización Persona Natural</b></span>
  <hr>
  <img src="./assets/imagenes/separadorform.jpg" style="max-width: 140px; max-height: 20px;" alt="Imagen" class="img-fluid">

  <br>
  <hr>

  <img src="./assets/imagenes/barra1.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==0">
  <img src="./assets/imagenes/barra2.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==1">
  <img src="./assets/imagenes/barra3.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==2">
  <img src="./assets/imagenes/barra4.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==3">
  <img src="./assets/imagenes/barra5.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==4">
  <img src="./assets/imagenes/barra6.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==5">
  <img src="./assets/imagenes/barra7.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==6">
  <img src="./assets/imagenes/barra8.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==7">
  <img src="./assets/imagenes/barra9.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==8">
  <img src="./assets/imagenes/barra10.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==9">
  <img src="./assets/imagenes/barra11.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==10">
  <img src="./assets/imagenes/barra12.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==11">
  <img src="./assets/imagenes/barra13.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==12">

  <hr>

  <div class="row">
    <div class="col-md-1">
    </div>

    <div class="col-md-7">
      <div class="card">
        <div class="card-body">
          <div>

            <h2>Seguimiento proceso Formalización Persona Natural</h2><hr>
            <div class="form-group alert alert-info" role="alert"> Seleccione la respuesta adecuada a cada pregunta y pulse el botón guardar.</div>

            <div *ngIf="this.pasosAvance==0">

              <div class="row">
                <hr><h2>¿Verificó si el nombre de su establecimiento está disponible?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoValidar" [(ngModel)]="isVerificadoValidar" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoValidar" [(ngModel)]="isVerificadoValidar" value="0">
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoValidar==='1'">
                <hr><h2>¿El nombre está disponible?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoDisponible" [(ngModel)]="isVerificadoDisponible" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoDisponible" [(ngModel)]="isVerificadoDisponible" value="0">
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoValidar==='0' || isVerificadoDisponible==='0'">
                <hr><p>Genere un nuevo nombre</p>
              </div><br>

              <div class="row" *ngIf="isVerificadoValidar==='0' || isVerificadoDisponible==='0'">
                <hr>
                <div class="col-md-12">
                  <a href="https://www.rues.org.co/RM" target="_NEW">Enlace para consulta homonimia</a>
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoDisponible==='1'">
                <hr><h2>Agregue el nombre</h2>
                <div class="col-md-3">
                  <b>Nombre : </b>
                </div>
                <div class="col-md-3">
                  <input type="text" [(ngModel)]="nombre">
                </div>
              </div><br>

            </div>

            <div *ngIf="this.pasosAvance==1">

              <div class="row">
                <hr>
                <div class="col-md-12">
                  <a href="https://www.sic.gov.co/marcas/antes-de-solicitar#:~:text=La%20marca%20permite%20que%20los,aquellos%20que%20no%20logran%20identificar." target="_NEW">Qué es una marca</a>
                </div>
              </div><br>

              <div class="row">
                <hr><h2>¿Tiene una marca?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoMarca" [(ngModel)]="isVerificadoMarca" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoMarca" [(ngModel)]="isVerificadoMarca" value="0">
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoMarca==='1'">
                <hr><h2>¿Ya consultó los antecedentes marcarios de su marca?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoAntecedentes" [(ngModel)]="isVerificadoAntecedentes" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoAntecedentes" [(ngModel)]="isVerificadoAntecedentes" value="0">
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoAntecedentes==='0'">
                <hr>
                <div class="col-md-12">
                  <a href="https://www.youtube.com/watch?v=XIDeYCBQJdk" target="_NEW">Video de apoyo consulta de antecedentes marcarios</a>
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoAntecedentes==='0'">
                <hr>
                <div class="col-md-12">
                  <a href="https://sipi.sic.gov.co/sipi/Extra/Default.aspx?sid=638374116246775962"
                  target="_NEW">Enlace de consulta antecedentes marcarios</a>
                </div>
              </div><br>

              <div class="row">
                <hr><h2>¿La marca está disponible?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoMarcaDisponible" [(ngModel)]="isVerificadoMarcaDisponible" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoMarcaDisponible" [(ngModel)]="isVerificadoMarcaDisponible" value="0">
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoMarcaDisponible==='0'">
                <hr><p>Genere una nueva marca</p>
              </div><br>

              <div class="row" *ngIf="isVerificadoMarcaDisponible==='1'">
                <hr><h2>Adjunte la marca en formato imagen o PDF</h2>
                <div class="col-md-6">
                  <input type="file" (change)="onFileSelected($event, 'marca')" />
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoMarcaDisponible==='1'">
                <hr><h2>¿Desea proteger su marca?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoMarcaProteger" [(ngModel)]="isVerificadoMarcaProteger" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoMarcaProteger" [(ngModel)]="isVerificadoMarcaProteger" value="0">
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoMarcaProteger==='1'">
                <hr>
                <div class="col-md-12">
                  <a href="https://www.sic.gov.co/tema/propiedad-Industrial/pasos-para-solicitar-el-registro-de-una-marca"
                  target="_NEW">Paso a paso para el registro de una marca</a>
                </div>
              </div><br>

            </div>

            <div *ngIf="this.pasosAvance==2">

              <div class="row">
                <hr><h2>¿El usuario ya diligenció el módulo de simulación?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoMSimulacion" [(ngModel)]="isVerificadoMSimulacion" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoMSimulacion" [(ngModel)]="isVerificadoMSimulacion" value="0">
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoMSimulacion==='0'">
                <hr><h2>¿Sabe usted el código CIIU de la actividad económica principal de su negocio?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoEconomica" [(ngModel)]="isVerificadoEconomica" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoEconomica" [(ngModel)]="isVerificadoEconomica" value="0">
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoEconomica==='0'">
                <hr>
                <div class="col-md-12">
                  <a href="https://www.vue.gov.co/servicios-a-la-ciudadania/tramites-y-consultas/consulta-de-actividad-economica-ciiu?c=68001" target="_NEW">Enlace consulta de códigos CIIU</a>
                </div>
              </div><br>

            </div>

            <div *ngIf="this.pasosAvance==3">

              <div class="row">
                <hr><h2>¿Ha verificado si la actividad económica que planea llevar a cabo en el municipio donde se encuentra su
                  establecimiento cumple con las regulaciones de uso de suelo?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoAEconomica" [(ngModel)]="isVerificadoAEconomica" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoAEconomica" [(ngModel)]="isVerificadoAEconomica" value="0">
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoAEconomica==='0'">
                <hr>
                <div class="col-md-12">
                  <a href="https://matricula.sintramites.com/Consultas/UsoSuelo" target="_NEW">Consulta uso de suelo</a>
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoAEconomica==='1'">
                <hr><h2>¿Se puede llevar acabo la actividad económica principal de su establecimiento en dicho sitio?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoAEPrincipal" [(ngModel)]="isVerificadoAEPrincipal" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoAEPrincipal" [(ngModel)]="isVerificadoAEPrincipal" value="0">
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoAEPrincipal==='0'">
                <hr><h2>Relacione una nueva dirección</h2>
                <div class="col-md-3">
                  <b>Direccion : </b>
                </div>
                <div class="col-md-3">
                  <input type="text" [(ngModel)]="direccion">
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoAEPrincipal==='1'">
                <hr><h2>Adjunte la dirección del establecimiento</h2>
                <div class="col-md-3">
                  <b>Direccion : </b>
                </div>
                <div class="col-md-3">
                  <input type="text" [(ngModel)]="direccion">
                </div>
              </div><br>

            </div>

            <div *ngIf="this.pasosAvance==4">

              <div class="row">
                <hr><h2>¿Ha tramitado ya el concepto de uso de suelo en la  oficina de planeación o en la curaduría del
                  municipio donde tiene previsto establecer su negocio?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoCSuelo" [(ngModel)]="isVerificadoCSuelo" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoCSuelo" [(ngModel)]="isVerificadoCSuelo" value="0">
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoCSuelo==='0'">
                <hr><p>Comuníquese con la curaduría o con la oficina de planeación de la alcaldia donde funcionará su negocio
                  para realizar la solicitud del concepto de uso de suelo</p>
              </div><br>

              <div class="row" *ngIf="isVerificadoCSuelo==='1'">
                <hr><h2>Adjunte el concepto de uso de suelo de la respectiva entidad estata en formato imagen o PDF</h2>
                <div class="col-md-6">
                  <input type="file" (change)="onFileSelected($event, 'usoDeSuelo')" />
                </div>
              </div><br>

            </div>

            <div *ngIf="this.pasosAvance==5">

              <div class="row">
                <hr><p>Recordatorio: Para este paso debe tener conocimiento de sus obligaciones tributarias. Para mayor orientación comuníquese
                  Dirección de Impuestos y Aduanas Nacionales DIAN.</p>
              </div><br>

              <div class="row">
                <hr><h2>¿Sabe si tiene RUT?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoSabeRut" [(ngModel)]="isVerificadoSabeRut" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoSabeRut" [(ngModel)]="isVerificadoSabeRut" value="0">
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoSabeRut==='0'">
                <hr><h2>Consulte el estado de su RUT</h2>
                <div class="col-md-12">
                  <a href="https://muisca.dian.gov.co/WebRutMuisca/DefConsultaEstadoRUT.faces" target="_NEW">Consulte el estado de su RUT</a>
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoSabeRut==='1'">
                <hr><h2>¿Tiene actualizado el RUT con las responsabilidades tributarias que tendrá lugar en su negocio?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoARut" [(ngModel)]="isVerificadoARut" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoARut" [(ngModel)]="isVerificadoARut" value="0">
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoARut==='1'">
                <hr>
                <div class="col-md-12">
                  <a href="https://www.youtube.com/watch?v=NDdKK31Oahk" target="_NEW">Video de apoyo de cómo descargar el RUT</a>
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoARut==='1'">
                <hr><h2>Anexe su RUT en formato PDF</h2>
                <div class="col-md-6">
                  <input type="file" (change)="onFileSelected($event, 'rut')" />
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoARut==='0'">
                <hr>
                <div class="col-md-12">
                  <a href="https://www.youtube.com/watch?v=kxe97irI7Wk" target="_NEW">Video de apoyo de cómo crear el RUT</a>
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoARut==='0'">
                <hr>
                <div class="col-md-12">
                  <a href="https://muisca.dian.gov.co/WebRutVirtualInscripcion/#/proceso-guiado/inicio"
                  target="_NEW">Enlace para crear RUT virtual</a>
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoARut==='0'">
                <hr>
                <div class="col-md-12">
                  <a href="https://www.youtube.com/watch?v=nM0VLHuHLBc" target="_NEW">Video de apoyo de cómo ingresar al portal DIAN si no recuerda usuario y contraseña</a>
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoARut==='0'">
                <hr>
                <div class="col-md-12">
                  <a href="https://www.youtube.com/watch?v=c_EkKtza6Q0"  target="_NEW">Video de apoyo de cómo actualizar el RUT</a>
                </div>
              </div><br>

            </div>

            <div *ngIf="this.pasosAvance==6">

              <div class="row">
                <hr><h2>¿El trámite del registro unico empresarial y social RUES va a expedirlo de manera presencial?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoERues" [(ngModel)]="isVerificadoERues" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoERues" [(ngModel)]="isVerificadoERues" value="0">
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoERues==='1'">
                <hr><p>Dirijase a la sede más cercana de la cámara de comercio de Bucaramanga</p>
              </div><br>

              <div class="row" *ngIf="isVerificadoERues==='0'">
                <hr>
                <div class="col-md-12">
                  <a href="https://www.youtube.com/watch?v=HqM8kBln60Q" target="_NEW">Video de apoyo para la radicación del RUES de manera virtual</a>
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoERues==='0'">
                <hr>
                <div class="col-md-12">
                  <a href="https://matricula.sintramites.com/VUE/Landing" target="_NEW">Enlace para registrarse en la VUE y radicar el RUES de manera virtual</a>
                </div>
              </div><br>

              <div class="row">
                <hr><h2>Anexe su RUES en formato imagen o PDF</h2>
                <div class="col-md-6">
                  <input type="file" (change)="onFileSelected($event, 'rues')" />
                </div>
              </div><br>

              <div class="row">
                <hr><p>Recuerde que si está obligado a pagar matricula mercantil debe hacerlo antes de continuar con el siguiente paso</p>
              </div><br>

            </div>

            <div *ngIf="this.pasosAvance==7">

              <div class="row">
                <hr><h2>¿El usuario ya diligenció el módulo de simulación?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoMoSimula" [(ngModel)]="isVerificadoMoSimula" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoMoSimula" [(ngModel)]="isVerificadoMoSimula" value="0">
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoMoSimula==='0'">
                <hr><h2>¿Va a contar con algún medio de proyección sonora o audiovisual en el negocio?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoProyeccion" [(ngModel)]="isVerificadoProyeccion" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoProyeccion" [(ngModel)]="isVerificadoProyeccion" value="0">
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoMoSimula==='1'">
                <hr><h2>¿El usuario va a contar con algún medio de proyección sonora o audiovisual en el negocio?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoProyeccionS" [(ngModel)]="isVerificadoProyeccionS" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoProyeccionS" [(ngModel)]="isVerificadoProyeccionS" value="0">
                </div>

                <div class="row" *ngIf="isVerificadoProyeccion==='1' || isVerificadoProyeccionS==='1'">
                  <hr><p>Realice el trámite para la expedición del certificado de Sayco y Acinpro</p>
                </div><br>

                <div class="row" *ngIf="isVerificadoProyeccion==='1' || isVerificadoProyeccionS==='1'">
                  <hr><h2>Anexe el certificado de Sayco y Acinpro en formato imagen o PDF</h2>
                  <div class="col-md-6">
                    <input type="file" (change)="onFileSelected($event, 'sayco')" />
                  </div>
                </div><br>

              </div><br>

            </div>

            <div *ngIf="this.pasosAvance==8">

              <div class="row">
                <hr><p>Ley 1572 de 2012: Artículo 42. Inspecciones y certificados de seguridad:  Los cuerpos de bomberos son los órganos competentes para la realización de las
                  labores de inspecciones y revisiones técnicas en prevención de incendios y seguridad humana en edificaciones públicas, privadas y particularmente en los
                  establecimientos públicos de comercio e industriales, e informarán a la entidad competente el cumplimiento de las normas de seguridad en general. De igual
                  manera, para la realización de eventos masivos y/o pirotécnicos, harán cumplir toda la normatividad vigente en cuanto a la gestión integral del riesgo contra
                  incendio y calamidades conexas.</p>
              </div><br>

              <div class="row">
                <hr><h2>¿De acuerdo a lo anterior, su establecimiento de comercio cuenta ya con el certificado Bomberil?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoCerBomberil" [(ngModel)]="isVerificadoCerBomberil" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoCerBomberil" [(ngModel)]="isVerificadoCerBomberil" value="0">
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoCerBomberil==='0'">
                <hr><p>Dirijase a la entidad de bomberos del municipio donde funcionara su negocio para realizar su inscripción</p>
              </div><br>

              <div class="row">
                <hr><h2>Anexe el certificado del concepto bomberil en formato imagen o PDF</h2>
                <div class="col-md-6">
                  <input type="file" (change)="onFileSelected($event, 'bomberil')" />
                </div>
              </div><br>

            </div>

            <div *ngIf="this.pasosAvance==9">

              <div class="row">
                <hr><h2>¿Ya ha completado el proceso de inscripción en la Oficina de Industria y Comercio del municipio donde planea operar
                  su negocio?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoProceso" [(ngModel)]="isVerificadoProceso" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoProceso" [(ngModel)]="isVerificadoProceso" value="0">
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoProceso==='0'">
                <hr><p>Dirijase a la oficina de industria y comercio de donde funcionara su negocio para realizar su inscripción</p>
              </div><br>

              <div class="row">
                <hr><h2>Relacione su número de placa comercial</h2>
                <div class="col-md-3">
                  <b>Número : </b>
                </div>
                <div class="col-md-3">
                  <input type="text" [(ngModel)]="placa">
                </div>
              </div><br>

            </div>

            <div *ngIf="this.pasosAvance==10">

              <div class="row">
                <hr>
                <div class="col-md-12">
                  <a href="https://www.policia.gov.co/fse" target="_NEW">¿Qué es el Frente de Seguridad Empresarial de la Policía Nacional?</a>
                </div>
              </div><br>

              <div class="row">
                <hr><h2>¿ Desea inscribirse en el programa del Frente de Seguridad Empresarial de la Policía Nacional ?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoPrograma" [(ngModel)]="isVerificadoPrograma" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoPrograma" [(ngModel)]="isVerificadoPrograma" value="0">
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoPrograma==='1'">
                <hr>
                <div class="col-md-12">
                  <a href="https://www.policia.gov.co/fse/vinculacion" target="_NEW">Consulta de requisitos y formularios</a>
                </div>
              </div><br>

            </div>

            <div *ngIf="this.pasosAvance==11">

              <div class="row">
                <hr><h2>¿El usuario ya diligenció el módulo de simulación?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoModSimula" [(ngModel)]="isVerificadoModSimula" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoModSimula" [(ngModel)]="isVerificadoModSimula" value="0">
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoModSimula==='0'">
                <hr><h2>¿Va a contratar a una o más personas por nómina fija?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoPersonas" [(ngModel)]="isVerificadoPersonas" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoPersonas" [(ngModel)]="isVerificadoPersonas" value="0">
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoModSimula==='1'">
                <hr><h2>¿El usuario va a contratar a una o más personas por nómina fija?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoCPersonas" [(ngModel)]="isVerificadoCPersonas" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoCPersonas" [(ngModel)]="isVerificadoCPersonas" value="0">
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoPersonas==='1'">
                <hr><p>Seguridad social: Debe realizar las afiliaciones en las diferentes entidades salud y pensión y ARL</p>
              </div><br>

              <div class="row" *ngIf="isVerificadoPersonas==='1'">
                <hr><h2>¿Es usted exonerado de realizar los aportes Salud, SENA e ICBF de acuerdo a lo establecido en el
                  artículo 114-1 del Estatuto Tributario Nacional?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoExonerado" [(ngModel)]="isVerificadoExonerado" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoExonerado" [(ngModel)]="isVerificadoExonerado" value="0">
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoExonerado==='1'">
                <hr><p>Aportes parafiscales: Debe realizar la afiliación de los trabajadores la caja de compensación.</p>
              </div><br>

              <div class="row" *ngIf="isVerificadoExonerado==='0'">
                <hr><p>Aportes parafiscales: Debe realizar los aportes parafiscales SENA, ICBF y Caja de compensación 4%</p>
              </div><br>

              <div class="row" *ngIf="isVerificadoCPersonas==='1'">
                <hr><p>Recuerde tener en cuenta lo sugerido en el módulo de simulación administrativa y financiera en el ámbito laboral</p>
              </div><br>

              <div class="row" *ngIf="isVerificadoExonerado==='1' || isVerificadoExonerado==='0' || isVerificadoCPersonas==='1'">
                <hr><h2>¿Ha realizado ya las afiliaciones de su trabajador o trabajadores?. Recuerde que en caso de los menores de edad,
                  debe contar con la autorización de sus padres y los respectivos permisos del ministerio de trabajo.</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoAfiliaciones" [(ngModel)]="isVerificadoAfiliaciones" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoAfiliaciones" [(ngModel)]="isVerificadoAfiliaciones" value="0">
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoAfiliaciones==='0'">
                <hr><p>Recuerde que el hecho de contratar a un trabajador y no hacer las respectivas afiliaciones al sistema de seguridad social y parafiscales puede acarrearle
                  diferentes multas y sanciones en el ámbito económico y operacional.</p>
              </div><br>

            </div>

            <div *ngIf="this.pasosAvance==12">

              <div class="row">
                <hr><p>Estimado emprendedor ¡felicidades!, hasta este punto ya te encuentras formalizado ante las principales entidades, no obstante, debes revisar y diligenciar los
                  demás requisitos que debes cumplir de acuerdo a tu actividad o actividades económicas tales como: permisos sanitarios, licencias de funcionamiento, entre otros.</p>
              </div><br>

              {{ this.pasosAvance }}
            </div>

          </div>

        </div>
      </div>
      <br>

      <div class="row">
        <div class="col-md-4">
          <button class="simulacion-button" (click)="endRouteFormalizacion()" *ngIf="this.pasosAvance==99">Finalizar</button>
          <button class="simulacion-button" (click)="guardarUno()" *ngIf="this.pasosAvance==0">Continuemos</button>
          <button class="simulacion-button" (click)="guardarDos()" *ngIf="this.pasosAvance==1">Continuemos</button>
          <button class="simulacion-button" (click)="guardarTres()" *ngIf="this.pasosAvance==2">Continuemos</button>
          <button class="simulacion-button" (click)="guardarCuatro()" *ngIf="this.pasosAvance==3">Continuemos</button>
          <button class="simulacion-button" (click)="guardarCinco()" *ngIf="this.pasosAvance==4">Continuemos</button>
          <button class="simulacion-button" (click)="guardarSeis()" *ngIf="this.pasosAvance==5">Continuemos</button>
          <button class="simulacion-button" (click)="guardarSiete()" *ngIf="this.pasosAvance==6">Continuemos</button>
          <button class="simulacion-button" (click)="guardarOcho()" *ngIf="this.pasosAvance==7">Continuemos</button>
          <button class="simulacion-button" (click)="guardarNueve()" *ngIf="this.pasosAvance==8">Continuemos</button>
          <button class="simulacion-button" (click)="guardarDiez()" *ngIf="this.pasosAvance==9">Continuemos</button>
          <button class="simulacion-button" (click)="guardarOnce()" *ngIf="this.pasosAvance==10">Continuemos</button>
          <button class="simulacion-button" (click)="guardarDoce()" *ngIf="this.pasosAvance==11">Continuemos</button>
          <button class="simulacion-button" (click)="guardarTrece()" *ngIf="this.pasosAvance==12">Continuemos</button>
        </div>

        <div class="col-md-4">
          <button class="ressim-button" (click)="reiniciarModulo()" *ngIf="this.pasosAvance>0">Reiniciar Módulo</button>
          <button class="ressim-button" (click)="reiniciarTodo()" *ngIf="this.pasosAvance>0">Reiniciar Todo</button>
        </div>

        <div class="col-md-4">
          <!--****************************************************************************-->
          <div>
            <button class="plussim-button" (click)="homeRoute()">Volver al menú</button>
          </div>
          <!--****************************************************************************-->
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <img src="./assets/imagenes/formalizacion-persona-natural.png" class="img-fluid" id="img-hobbies" alt="Imagen" style="max-height: 100%; max-width: 100%;">
    </div>

    <div class="col-md-1">
    </div>
  </div>

  <br>
  <hr>

  <img src="./assets/imagenes/barra1.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==0">
  <img src="./assets/imagenes/barra2.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==1">
  <img src="./assets/imagenes/barra3.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==2">
  <img src="./assets/imagenes/barra4.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==3">
  <img src="./assets/imagenes/barra5.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==4">
  <img src="./assets/imagenes/barra6.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==5">
  <img src="./assets/imagenes/barra7.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==6">
  <img src="./assets/imagenes/barra8.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==7">
  <img src="./assets/imagenes/barra9.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==8">
  <img src="./assets/imagenes/barra10.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==9">
  <img src="./assets/imagenes/barra11.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==10">
  <img src="./assets/imagenes/barra12.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==11">
  <img src="./assets/imagenes/barra13.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==12">

  <br>
  <hr>

</div>

