/* Estilos para el contenedor principal */
.container {
  margin-top: 20px;
  font-size: 1.3rem;
}

/* Estilos para los espacios de imagen */
.image-space {
  margin-bottom: 10px;
}

/* Ajustes para los botones */
.btn {
  margin-right: 10px;
}

/* Ajustes para los párrafos */
p {
  margin-bottom: 15px;
}

.avance {
  color:white;
  font-size: 1.3rem;
}

.simulacion-button {
  margin-top: 10px;
  padding: 8px;
  background: #009d02 0% 0% no-repeat padding-box;
  color: #FFF;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.plussim-button {
  margin-top: 10px;
  padding: 8px;
  background: #009d02 0% 0% no-repeat padding-box;
  color: #FFF;
  opacity: 0.75;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.ressim-button {
  margin-top: 10px;
  padding: 8px;
  background: #009d02 0% 0% no-repeat padding-box;
  color: #FFF;
  opacity: 0.5;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* Estilo para el botón deshabilitado */
.disabled-button {
  opacity: 0.25;
  pointer-events: none; /* Evita interacciones con el botón */
  /* Otros estilos que desees aplicar a un botón deshabilitado */
}

/* Agrega estilos CSS personalizados para ajustar el tamaño de SweetAlert2 */
.ajustar-tamano-sweet-alert {
  min-width: 800px; /* Ajusta el ancho máximo según tus necesidades */
  width: auto !important; /* Evita que el ancho sea fijo y se ajuste según el contenido */
}
