<h1>Evaluación ideas de negocio</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Criterios</h2>
      <p>Organiza los criterios del cuadro a
        continuación según la importancia que le
        asignas en orden ascendente de 1 a 3, siendo
        1 el más importante.</p>
      <img src="./assets/evaluacion.png" alt="Imagen" class="img-fluid" style="max-height: 55%; max-width: 55%;">
      <div class="col-xs-12 col-md-4">
        <div class="custom-div">
        <form class="custom-form" method="post">
          <button type="submit" (click)="seleccionRoute()">Continuemos</button>
        </form>
      </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-check" *ngFor="let elemento of arrayIdeas">
        <label>
          <input type="number" class="form-check-input" [(ngModel)]="elemento.seleccionado" (change)="onCheckboxChange($event, elemento)" value="{{ elemento.idCriterio }}">
          {{ elemento.criterio }}
          <input type="number" [(ngModel)]="selectedValues[elemento.idCriterio]" min="1" max="3" (change)="sendNumberValue(item.idCriterio, selectedValues[item.idCriterio])">
        </label>
      </div>
    </div>
  </div>
</div>
