<div class="container">

  <br>
  <span><img src="./assets/iconos/bombilla.svg" style="max-width: 40px; max-height: 40px;" alt="Imagen" class="img-fluid"></span>
  <span><b style="font-size: 1.8rem;">  Ideación</b></span>
  <hr>
  <h1>Evaluación ideas de negocio</h1>
  <img src="./assets/imagenes/separador.jpg" style="max-width: 140px; max-height: 20px;" alt="Imagen" class="img-fluid">
  <br>

  <div class="row">

    <div class="col-md-2"></div>

    <div class="col-md-4">
      <h2>Criterios</h2>
      <p>Organiza los criterios del cuadro a continuación según la importancia que le asignas.</p>

      <div class="form-check" *ngFor="let criterio of arrayCriteriosParcial">
        <label>
          <h2>{{ criterio.criterio }}</h2>
        </label>
        <p>{{criterio.pregunta}}</p>
        <div cdkDropList #item="cdkDropList"
            [cdkDropListData]="arrayIdeas" class="item-list"
             (cdkDropListDropped)="onDrop($event)">
           <div class="item-block" *ngFor="let item of arrayIdeas" cdkDrag>
              {{ item.idea }}
           </div>
        </div>

      </div>

        <form method="post">
          <button class="ideacion-button" *ngIf="this.flagMax!=this.idParcial" type="submit" (click)="seleccionParcialSave()">Guardar Valores</button>
        </form>

        <form method="post">
          <button class="mb-5 ideacion-button" *ngIf="this.flagMax==this.idParcial" type="submit" (click)="seleccionSave()">Continuemos</button>
        </form>
    </div>

    <div class="col-md-4 mb-4">
      <img src="./assets/imagenes/evaluacion-ideas-de-negocio.png" alt="Imagen" class="img-fluid" style="max-height: 100%; max-width: 100%;">
    </div>

  </div>

  <div *ngIf="showSpinner" class="spinner-overlay">
    <div class="spinner"></div>
  </div>

</div>
