<h1>Evaluación ideas de negocio</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Criterios</h2>
      <p>Organiza los criterios del cuadro a continuación según la importancia que le asignas.</p>
      <img src="./assets/evaluacion.png" alt="Imagen" class="img-fluid" style="max-height: 55%; max-width: 55%;">
          <div class="col-xs-12 col-md-4">
            <div class="custom-div" *ngIf="this.flagMax==this.idParcial">
              <form class="custom-form" (submit)="seleccionSave()">
                <button type="submit">Continuemos</button>
              </form>
            </div>
<div class="custom-div" *ngIf="this.flagMax!=this.idParcial">
          <form class="custom-form" (submit)="seleccionParcialSave()">
            <button type="submit">Guardar Valores</button>
          </form>
        </div>
      </div>
          </div>
<div class="col-md-6">
      <div class="form-check" *ngFor="let criterio of arrayCriteriosParcial">
        <label>
          <h2>{{ criterio.criterio }}</h2>
        </label>
        <p>{{criterio.pregunta}}</p>
        <div cdkDropList #item="cdkDropList"
            [cdkDropListData]="arrayIdeas" class="item-list"
             (cdkDropListDropped)="onDrop($event)">
           <div class="item-block" *ngFor="let item of arrayIdeas" cdkDrag>
              {{ item.idea }}
           </div>
        </div>

      </div>
    </div>
  </div>
<div *ngIf="showSpinner" class="spinner-overlay">
    <div class="spinner"></div>
  </div>
</div>
