<div class="general">

  <div class="row">

    <div class="col-xs-12 col-md-4">
      <div class="custom-div">
        <form class="custom-form" method="post">
          <img src="./assets/ideacion.png" style="max-width: 95%;"/><br>
          <button type="submit" (click)="basicosRoute()">Ideación</button>
        </form>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="custom-div">
        <form class="custom-form" method="post">
          <img src="./assets/simulacion.png" style="max-width: 95%;"/><br>
          <button type="submit" (click)="loginFake()">Simulación</button>
        </form>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="custom-div">
        <form class="custom-form" method="post">
          <img src="./assets/formalizacion.png" style="max-width: 95%;"/><br>
          <button type="submit" (click)="loginFake()">Formalización</button>
        </form>
      </div>
    </div>

  </div>

</div>
