<div class="container">

  <br>
  <span><img src="./assets/iconos/simulacion.svg" style="max-width: 40px; max-height: 40px;" alt="Imagen" class="img-fluid"></span>
  <span><b style="font-size: 1.8rem;">  Simulación</b></span>
  <hr>
  <img src="./assets/imagenes/bannerlegal.png" style="max-width: 100%; height: auto;" alt="Imagen" class="img-fluid">
  <br>
  <hr>

  <div class="row">
    <div class="col-md-2">
    </div>

    <div class="col-md-5">
      <div class="card">
        <div class="card-body">

          <div *ngIf="this.flag>0">
            Felicidades, terminó el primer paso, puede continuar la simulación como {{this.tipologia}} <br><br><hr>
            <h2>Resumen simulación</h2><hr>
              <ul *ngFor="let item of arrayResumen">
                <li [innerHTML]="item.cadena"></li>
              </ul>
              <div class="form-group alert alert-warning" role="alert">
                <p>El resumen muestra tu caracterización y los requisitos legales que debes cumplir; si te sientes cómodo con la simulación por favor da click en el botón guardar y continuar; si deseas reiniciar la simulación e ingresar datos nuevos,
                  por favor da click en el botón reiniciar módulo.</p>
              </div>
          </div>

          <div *ngIf="this.flag==0" class="form-group alert alert-info" role="alert"> Seleccione la respuesta adecuada a cada pregunta y pulse el botón guardar.</div><br>
          <div [innerHTML]="preguntas"></div>
          <hr *ngIf="this.flag==0"><br *ngIf="this.flag==0">

          <div *ngIf="this.flag==0" class="row">
            <div class="col-md-3">
              <b style="color:red">No </b>
              <input type="radio" [(ngModel)]="isChecked" value="No">
            </div>
            <div class="col-md-3">
              <b style="color:green">Sí </b>
              <input type="radio" [(ngModel)]="isChecked" value="Sí">
            </div>
          </div>

        </div>
      </div>
      <br>

      <div class="row">
        <div class="col-md-4">
          <button class="simulacion-button" (click)="endRouteEmpresa()" *ngIf="this.flag==1">Guardar y Continuar</button>
          <button class="simulacion-button" (click)="endRoutePersona()" *ngIf="this.flag==2">Guardar y Continuar</button>
          <button class="simulacion-button" (click)="saveRoute()" *ngIf="this.flag==0" [disabled]="buttonDisabled" [ngClass]="{'disabled-button': buttonDisabled}">Guardar</button>
        </div>

        <div class="col-md-4">
          <button class="ressim-button" (click)="reiniciarModulo()" *ngIf="this.flag>0">Reiniciar Módulo</button>
        </div>

        <div class="col-md-4">
          <!--****************************************************************************-->
          <div>
            <button class="plussim-button" (click)="homeRoute()">Volver al menú</button>
          </div>
          <!--****************************************************************************-->
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <img src="./assets/imagenes/simulacion-legal.jpg" class="img-fluid" id="img-hobbies" alt="Imagen" style="max-height: 100%; max-width: 100%;">
    </div>

    <div class="col-md-2">
    </div>
  </div>

  <br>
  <hr>

</div>

