<div class="container">

  <br>
  <span><img src="./assets/iconos/bombilla.svg" style="max-width: 40px; max-height: 40px;" alt="Imagen" class="img-fluid"></span>
  <span><b style="font-size: 1.8rem;">  Ideación</b></span>
  <hr>
  <h1>Hobbies</h1>
  <img src="./assets/imagenes/separador.jpg" style="max-width: 140px; max-height: 20px;" alt="Imagen" class="img-fluid">
  <br>

  <div class="form-group">

    <div class="row">

       <div class="col-md-2"></div>

        <div class="col-md-4">
          <br><br>
          <p>De tu lista de hobbies, arrástralos para ordenarlos de acuerdo a la importancia de mayor a menor.</p>
          <div cdkDropList #item="cdkDropList"
            [cdkDropListData]="arrayOpciones" class="item-list"
             (cdkDropListDropped)="onDrop($event)">
             <div class="item-block" *ngFor="let item of arrayOpciones" cdkDrag>
                {{ item.hobby }}
             </div>
          </div>
          <br>
          <form method="post">
            <!-- <button type="submit" (click)="experienciaRoute()">Continuemos</button> -->
            <button class="ideacion-button" type="submit" (click)="validateValues()">Continuemos</button>
          </form>

        </div>

        <div class="col-md-4 mt-3">
          <img src="./assets/imagenes/hobbies-2.png" class="img-fluid" id="img-valorhobbies" alt="Imagen" style="max-height: 90%; max-width: 90%;">
        </div>

      </div>

  </div>

</div>
