.container {
  margin-top: 20px;
}

.row {
  display: flex;
}

.col-md-6 {
  flex-basis: 50%;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.form-group {
  margin-bottom: 20px;
}

.form-check-label {
  margin-left: 5px;
}

.btn-primary {
  margin-top: 10px;
}

.mat-toolbar {
  background-color: #F5F5F5; /* Cambia el color al que desees, en este caso verde */
}

.fill-space {
  flex: 1 1 auto;
}
