<mat-sidenav-container class="sidenav-container" *ngIf="this.authService.isLoggedIn">

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>
        <img class="my-0 mr-md-auto font-weight-normal" src="./assets/iconos/logo-sena.svg" style="max-width: 300px;  align-self: right;"/>
      </span>
      <span class="fill-space"></span>
      <span *ngIf="this.authService.isLoggedIn">
        <button mat-button (click)="logout()" *ngIf="this.authService.isLoggedIn" class="ml-auto"><img src="./assets/iconos/no-foto.svg" style="max-width: 36px;"></button>
      </span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
<div *ngIf="this.authService.isLoggedOut">
  <app-login></app-login>
</div>

