<div class="container">

  <br>
  <span><img src="./assets/iconos/bombilla.svg" style="max-width: 40px; max-height: 40px;" alt="Imagen" class="img-fluid"></span>
  <span><b style="font-size: 1.8rem;">  Ideación</b></span>
  <hr>
  <h1>Matriz Dofa</h1>
  <img src="./assets/imagenes/separador.jpg" style="max-width: 140px; max-height: 20px;" alt="Imagen" class="img-fluid">
  <br>

  <div class="row">
    <div class="col-md-6">
      <table class="table">
        <tr>
          <p>D</p>
          <td>
            <form (submit)="uploadDebilidades()">
              <textarea cols="40" rows="5" [(ngModel)]="debilidades" name="debilidades">
              </textarea><br>
              <button class="step-button" type="submit">Cargar Debilidades</button>
            </form>
          </td>
          <p>O</p>
          <td>
            <form (submit)="uploadOportunidades()">
              <textarea cols="40" rows="5" [(ngModel)]="oportunidades" name="oportunidades">
              </textarea><br>
              <button class="step-button" type="submit">Cargar Oportunidades</button>
            </form>
          </td>
        </tr>
        <tr>
          <p>F</p>
          <td>
            <form (submit)="uploadFortalezas()">
              <textarea cols="40" rows="5" [(ngModel)]="fortalezas" name="fortalezas">
              </textarea><br>
              <button class="step-button" type="submit">Cargar Fortalezas</button>
            </form>
          </td>
          <p>A</p>
          <td>
            <form (submit)="uploadAmenazas()">
              <textarea cols="40" rows="5" [(ngModel)]="amenazas" name="amenazas">
              </textarea><br>
              <button class="step-button" type="submit">Cargar Amenazas</button>
            </form>
          </td>
        </tr>
      </table>
      <button class="btn btn-primary">Ver Matriz DOFA</button>
    </div>
    <div class="col-md-6">
      <p>Debilidades (D): Representan aspectos internos negativos que limitan el desempeño o el crecimiento...</p>
      <p>Oportunidades (O): Son situaciones externas favorables que pueden ser aprovechadas por el emprendimiento...</p>
      <p>Fortalezas (F): Son aspectos internos positivos que brindan una ventaja competitiva al emprendimiento...</p>
      <p>Amenazas (A): Representan factores externos negativos que pueden afectar negativamente al emprendimiento...</p>
      <button class="btn btn-primary" (click)="amenazasRoute()">Finalizar</button>
      <button class="btn btn-success">Guardar y Volver al Menú</button>
    </div>
  </div>
</div>
