<div class="container">
  <h1>PALABRA DOFA SIGNIFICADO:</h1>
  <div class="row">
    <div class="col-md-6">
      <table class="table">
        <tr>
          <p>D</p>
          <td><button class="btn btn-primary">AGREGAR</button></td>
          <p>O</p>
          <td><button class="btn btn-primary">AGREGAR</button></td>
        </tr>
        <tr>
          <p>F</p>
          <td><button class="btn btn-primary">AGREGAR</button></td>
          <p>A</p>
          <td><button class="btn btn-primary">AGREGAR</button></td>
        </tr>
      </table>
      <button class="btn btn-primary">Ver Matriz DOFA</button>
    </div>
    <div class="col-md-6">
      <p>Debilidades (D): Representan aspectos internos negativos que limitan el desempeño o el crecimiento...</p>
      <p>Oportunidades (O): Son situaciones externas favorables que pueden ser aprovechadas por el emprendimiento...</p>
      <p>Fortalezas (F): Son aspectos internos positivos que brindan una ventaja competitiva al emprendimiento...</p>
      <p>Amenazas (A): Representan factores externos negativos que pueden afectar negativamente al emprendimiento...</p>
      <button class="btn btn-success" (click)="amenazasRoute()">Guardar</button>
      <button class="btn btn-primary">Continuemos</button>
    </div>
  </div>
</div>
