  <div class="login-div">
    <form class="login-form" method="post">
      <img class="logo" src="./assets/imagenes/login.png" style="max-width: 100%;"/><br><br>
      <h1 class="logo" id="titulodafne">D.A.F.N.E</h1>
        <input 
          type="text"
          [(ngModel)]="usuario"
          name="usuario"
          placeholder="Usuario"
          required="required"
        />
        <input 
          type="password"
          [(ngModel)]="password"
          name="password"
          placeholder="Contraseña"
          required="required"
        />
      <button class="button-design" type="submit" (click)="login()">Ingresar</button>
    </form>
  </div>
