<div class="container">
  <h1>ALGUNAS DEBILIDADES QUE PODEMOS PRESENTAR SON:</h1>
  <div class="row">
    <div class="col-md-6">
      <h2>ALGUNOS EJEMPLOS DE DEBILIDADES:</h2>
      <p>1) Características Emprendedoras:</p>
      <ul>
        <li>Innovación y creatividad: Los emprendedores suelen tener la capacidad de generar nuevas ideas y soluciones a los desafíos que se les presentan.</li>
        <li>Valores: Honestidad - Ser sincero y actuar con integridad en todas las situaciones.</li>
        <li>Respeto: Tratar a los demás con cortesía, consideración y dignidad.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h2>LISTEMOS ENTRE 3 Y 4 DEBILIDADES:</h2>
      <ul>
        <input type="text" class="form-control" placeholder="Digite aquí">
        <input type="text" class="form-control" placeholder="Digite aquí">
        <input type="text" class="form-control" placeholder="Digite aquí">
        <input type="text" class="form-control" placeholder="Digite aquí">
      </ul>
      <button class="btn btn-primary" (click)="fortalezasRoute()">Finalizar</button>
      <button class="btn btn-success">Guardar y Volver al Menú</button>
    </div>
  </div>
</div>
