<div class="container">

  <br>
  <span><img src="./assets/iconos/bombilla.svg" style="max-width: 40px; max-height: 40px;" alt="Imagen" class="img-fluid"></span>
  <span><b style="font-size: 1.8rem;">  Ideación</b></span>
  <hr>
  <h1>ALGUNAS DEBILIDADES QUE PODEMOS PRESENTAR SON:</h1>
  <img src="./assets/imagenes/separador.jpg" style="max-width: 140px; max-height: 20px;" alt="Imagen" class="img-fluid">
  <br>

  <div class="row">
    <div class="col-md-6">
      <h2>EJEMPLOS DE DEBILIDADES:</h2>
      <p>1) Características Emprendedoras:</p>
      <ul>
        <li>Innovación y creatividad: Los emprendedores suelen tener la capacidad de generar nuevas ideas y soluciones a los desafíos que se les presentan.</li>
        <li>Valores: Honestidad - Ser sincero y actuar con integridad en todas las situaciones.</li>
        <li>Respeto: Tratar a los demás con cortesía, consideración y dignidad.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h2>LISTEMOS ENTRE 3 Y 4 DEBILIDADES:</h2>
      <ul>
        <input type="text" class="form-control" placeholder="Digite aquí" [(ngModel)]="debilidades1" name="debilidades1">
        <input type="text" class="form-control" placeholder="Digite aquí" [(ngModel)]="debilidades2" name="debilidades2">
        <input type="text" class="form-control" placeholder="Digite aquí" [(ngModel)]="debilidades3" name="debilidades3">
        <input type="text" class="form-control" placeholder="Digite aquí" [(ngModel)]="debilidades4" name="debilidades4">
      </ul>
      <button class="btn btn-primary" (click)="terminarRoute()">Finalizar</button>
      <button class="btn btn-success" (click)="continuarRoute()">Guardar y regresar</button>
    </div>
  </div>
</div>
