<div class="container">

  <br>
  <span><img src="./assets/iconos/bombilla.svg" style="max-width: 40px; max-height: 40px;" alt="Imagen" class="img-fluid"></span>
  <span><b style="font-size: 1.8rem;">  Ideación</b></span>
  <hr>
  <h1>Algunas debilidades que podemos presentar son:</h1>
  <img src="./assets/imagenes/separador.jpg" style="max-width: 140px; max-height: 20px;" alt="Imagen" class="img-fluid">
  <br>

  <div class="row">
    <div class="col-md-6">
      <h2>Ejemplos de debilidades:</h2>
      <ul>
        <li>Malos hábitos.</li>
        <li>Malas costumbres.</li>
        <li>Problemas.</li>
        <li>Preocupaciones.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h2>LISTEMOS ENTRE 3 Y 4 DEBILIDADES:</h2>
      <ul>
        <input type="text" class="form-control" placeholder="Digite aquí" [(ngModel)]="debilidades1" name="debilidades1" required>
        <input type="text" class="form-control" placeholder="Digite aquí" [(ngModel)]="debilidades2" name="debilidades2" required>
        <input type="text" class="form-control" placeholder="Digite aquí" [(ngModel)]="debilidades3" name="debilidades3" required>
        <input type="text" class="form-control" placeholder="Digite aquí" [(ngModel)]="debilidades4" name="debilidades4">
      </ul>
      <button class="ideacion-button" (click)="terminarRoute()">Finalizar</button>
      <button class="plus-button" (click)="continuarRoute()">Guardar y regresar</button>
    </div>
  </div>
</div>
