<div class="container">
  <h1>ALGUNAS FORTALEZAS QUE PODEMOS PRESENTAR SON:</h1>
  <div class="row">
    <div class="col-md-6">
      <h2>ALGUNOS EJEMPLOS DE FORTALEZAS:</h2>
      <p>1) Conocimientos- Aptitudes:</p>
      <ul>
        <li>Conocimientos en marketing digital: Saber cómo utilizar herramientas y estrategias digitales para promover un producto o servicio.</li>
        <li>Experiencia en startups: Haber trabajado en una empresa startup y haber participado en su crecimiento y desarrollo.</li>
        <li>Liderazgo exitoso: Haber liderado un proyecto exitoso y haber alcanzado los objetivos establecidos.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h2>LISTEMOS ENTRE 3 Y 4 DEBILIDADES:</h2>
      <ul>
        <input type="text" class="form-control" placeholder="Digite aquí">
        <input type="text" class="form-control" placeholder="Digite aquí">
        <input type="text" class="form-control" placeholder="Digite aquí">
        <input type="text" class="form-control" placeholder="Digite aquí">
      </ul>
      <button class="btn btn-primary" (click)="oportunidadesRoute()">Finalizar</button>
      <button class="btn btn-success">Guardar y Volver al Menú</button>
    </div>
  </div>
</div>
