<div class="container">

  <br>
  <span><img src="./assets/iconos/formalizacion.svg" style="max-width: 40px; max-height: 40px;" alt="Imagen" class="img-fluid"></span>
  <span><b style="font-size: 1.8rem;">  Formalización Empresa</b></span>
  <hr>
  <img src="./assets/imagenes/separadorform.jpg" style="max-width: 140px; max-height: 20px;" alt="Imagen" class="img-fluid">

  <br>
  <hr>

  <img src="./assets/imagenes/barrae1.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==0">
  <img src="./assets/imagenes/barrae2.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==1">
  <img src="./assets/imagenes/barrae3.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==2">
  <img src="./assets/imagenes/barrae4.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==3">
  <img src="./assets/imagenes/barrae5.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==4">
  <img src="./assets/imagenes/barrae6.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==5">
  <img src="./assets/imagenes/barrae7.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==6">
  <img src="./assets/imagenes/barrae8.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==7">
  <img src="./assets/imagenes/barrae9.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==8">
  <img src="./assets/imagenes/barrae10.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==9">
  <img src="./assets/imagenes/barrae11.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==10">
  <img src="./assets/imagenes/barrae12.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==11">
  <img src="./assets/imagenes/barrae13.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==12">
  <img src="./assets/imagenes/barrae14.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==13">
  <img src="./assets/imagenes/barrae15.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==14">
  <img src="./assets/imagenes/barrae16.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==15">
  <img src="./assets/imagenes/barrae17.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==16">
  <img src="./assets/imagenes/barrae18.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==17">
  <img src="./assets/imagenes/barrae19.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==18">
  <img src="./assets/imagenes/barrae20.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==19">

  <hr>

  <div class="row">
    <div class="col-md-1">
    </div>

    <div class="col-md-7">
      <div class="card">
        <div class="card-body">
          <div>

            <h2>Seguimiento proceso Formalización Empresa</h2><hr>
            <div class="form-group alert alert-info" role="alert"> Seleccione la respuesta adecuada a cada pregunta y pulse el botón guardar.</div>

            <div *ngIf="this.pasosAvance==0">
              <div class="row">
                <hr><h2>¿El usuario diligenció el módulo de simulación?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoTipo" [(ngModel)]="isVerificadoTipo" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoTipo" [(ngModel)]="isVerificadoTipo" value="0">
                </div>
              </div>

              <div class="form-group" *ngIf="isVerificadoTipo==='0'">
                <br>
                <label for="tipoEmpresa">Tipo de Empresa:</label>
                <select id="tipoEmpresa" class="form-control" [(ngModel)]="tipoEmpresa" placeholder="Tipo de Empresa">
                  <option value="Empresa Unipersonal">Empresa Unipersonal</option>
                  <option value="Sociedad Anónima">Sociedad Anónima</option>
                  <option value="Sociedad por acciones simplificadas">Sociedad  por acciones simplificadas</option>
                  <option value="Sociedad comandita por acciones">Sociedad  comandita por acciones</option>
                  <option value="Sociedad limitada">Sociedad limitada</option>
                  <option value="Sociedad colectiva">Sociedad colectiva</option>
                  <option value="Sociedad comandita simple">Sociedad comandita simple</option>
                </select>
              </div>

            </div>

            <div *ngIf="this.pasosAvance==1">
              <div class="row">
                <hr><h2>¿Verificó si la razón social de su empresa está disponible?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoRazon" [(ngModel)]="isVerificadoRazon" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoRazon" [(ngModel)]="isVerificadoRazon" value="0">
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoRazon==='1'">
                <hr><h2>¿El nombre está disponible?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoNombre" [(ngModel)]="isVerificadoNombre" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoNombre" [(ngModel)]="isVerificadoNombre" value="0">
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoNombre==='0'">
                <hr><h2>Genere un nuevo nombre</h2>
                <div class="col-md-12">
                  <a href="https://www.rues.org.co/RM" target="_NEW">Enlace para consulta homonimia</a>
                </div>
              </div>

              <div class="row" *ngIf="isVerificadoNombre==='1' && isVerificadoRazon==='1'">
                <hr><h2>Agregue el nombre</h2>
                <div class="col-md-3">
                  <b>Nombre : </b>
                </div>
                <div class="col-md-3">
                  <input type="text" [(ngModel)]="razonSocial">
                </div>
              </div>

            </div>

            <div *ngIf="this.pasosAvance==2">

              <div class="row">
                <hr>
                <div class="col-md-12">
                  <a href="https://www.sic.gov.co/marcas/antes-de-solicitar#:~:text=La%20marca%20permite%20que%20los,aquellos%20que%20no%20logran%20identificar." target="_NEW">Qué es una marca</a>
                </div>
              </div><br>


              <div class="row">
                <hr><h2>¿Tiene una marca?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoMarca" [(ngModel)]="isVerificadoMarca" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoMarca" [(ngModel)]="isVerificadoMarca" value="0">
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoMarca==='1'">
                <hr><h2>¿Ya consultó los antecedentes marcarios de su marca?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoAntecedentes" [(ngModel)]="isVerificadoAntecedentes" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoAntecedentes" [(ngModel)]="isVerificadoAntecedentes" value="0">
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoAntecedentes==='0'">
                <hr>
                <div class="col-md-12">
                  <a href="https://www.youtube.com/watch?v=XIDeYCBQJdk" target="_NEW">Video de apoyo consulta de antecedentes marcarios</a>
                  <br><br>
                  <a href="https://sipi.sic.gov.co/sipi/Extra/Default.aspx?sid=638374116246775962" target="_NEW">Enlace de consulta antecedentes marcarios</a>
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoAntecedentes==='1'">
                <hr><h2>¿La marca está disponible?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoDisponible" [(ngModel)]="isVerificadoDisponible" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoDisponible" [(ngModel)]="isVerificadoDisponible" value="0">
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoMarca==='0'">
                <hr><h2>Genere una nueva marca</h2>
              </div><br>

              <div class="row" *ngIf="isVerificadoDisponible==='1'">
                <hr><h2>Cargue su marca (Archivo pdf o JPG)</h2>
                <div class="col-md-6">
                  <input type="file" (change)="onFileSelected($event, 'marca')" />
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoMarca==='1'">
                <hr><h2>¿Desea proteger su marca?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoProteger" [(ngModel)]="isVerificadoProteger" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoProteger" [(ngModel)]="isVerificadoProteger" value="0">
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoProteger==='1'">
                <hr>
                <div class="col-md-12">
                  <a href="https://www.sic.gov.co/tema/propiedad-Industrial/pasos-para-solicitar-el-registro-de-una-marca"
                  target="_NEW">Paso a paso para el registro de una marca</a>
                </div>
              </div><br>

            </div>

            <div *ngIf="this.pasosAvance==3">

              <div class="row">
                <hr><h2>¿El usuario ya diligenció el módulo de simulación?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoSimulacion" [(ngModel)]="isVerificadoSimulacion" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoSimulacion" [(ngModel)]="isVerificadoSimulacion" value="0">
                </div>
              </div><br>

              <div class="row">
                <hr><h2>¿Sabe usted el código CIIU de la actividad económica principal de su negocio?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoCiuu" [(ngModel)]="isVerificadoCiuu" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoCiuu" [(ngModel)]="isVerificadoCiuu" value="0">
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoCiuu==='0'">
                <hr>
                <div class="col-md-12">
                  <a href="https://www.vue.gov.co/servicios-a-la-ciudadania/tramites-y-consultas/consulta-de-actividad-economica-ciiu?c=68001" target="_NEW">Enlace consulta de códigos CIIU</a>
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoCiuu==='1'">
                <hr><h2>Agregue el código</h2>
                <div class="col-md-3">
                  Código CIUU :
                </div>
                <div class="col-md-3">
                  <input type="text" [(ngModel)]="ciiu">
                </div>
              </div><br>

            </div>

            <div *ngIf="this.pasosAvance==4">

              <div class="row">
                <hr><h2>¿Ha verificado si la actividad económica que planea llevar a cabo en el municipio donde se encuentra su
                  establecimiento cumple con las regulaciones de uso de suelo?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoSuelo" [(ngModel)]="isVerificadoSuelo" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoSuelo" [(ngModel)]="isVerificadoSuelo" value="0">
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoSuelo==='0'">
                <hr>
                <div class="col-md-12">
                  <a href="https://matricula.sintramites.com/Consultas/UsoSuelo" target="_NEW">Consulta uso de suelo</a>
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoSuelo==='1'">
                <hr><h2>¿Se puede llevar acabo la actividad económica principal de su establecimiento en dicho sitio?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoActividad" [(ngModel)]="isVerificadoActividad" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoActividad" [(ngModel)]="isVerificadoActividad" value="0">
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoActividad==='0'">
                <hr><h2>Relacione una nueva dirección</h2>
              </div><br>

              <div class="row" *ngIf="isVerificadoActividad==='1'">
                <hr><h2>Adjunte la dirección del establecimiento</h2>
                <div class="col-md-3">
                  <b>Dirección : </b>
                </div>
                <div class="col-md-3">
                  <input type="text" [(ngModel)]="direccion">
                </div>
              </div><br>

            </div>

            <div *ngIf="this.pasosAvance==5">

              <div class="row">
                <hr><h2>¿Ha tramitado ya el concepto de uso de suelo en la  oficina de planeación o en la curaduría del
                  municipio donde tiene previsto establecer su negocio?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoTramite" [(ngModel)]="isVerificadoTramite" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoTramite" [(ngModel)]="isVerificadoTramite" value="0">
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoTramite==='1'">
                <hr><h2>Adjunte el concepto de uso de suelo de la respectiva entidad estatal en formato imagen o PDF</h2>
                <div class="col-md-6">
                  <input type="file" (change)="onFileSelected($event, 'usoDeSuelo')" />
                </div>
              </div><br>

            </div>

            <div *ngIf="this.pasosAvance==6">

              <div class="row">
                <hr><h2>¿Podría confirmar si el futuro representante legal posee RUT?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoRut" [(ngModel)]="isVerificadoRut" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoRut" [(ngModel)]="isVerificadoRut" value="0">
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoRut==='0'">
                <hr>
                <div class="col-md-12">
                  <a href="https://muisca.dian.gov.co/WebRutMuisca/DefConsultaEstadoRUT.faces" target="_NEW">Consulte el estado de su RUT</a>
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoRut==='1'">
                <hr><h2>¿El representante legal tiene actualizado el RUT con las responsabilidades tributarias que tendrá lugar?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoActualizado" [(ngModel)]="isVerificadoActualizado" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoActualizado" [(ngModel)]="isVerificadoActualizado" value="0">
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoActualizado==='1'">
                <hr>
                <div class="col-md-12">
                  <a href="https://www.youtube.com/watch?v=NDdKK31Oahk" target="_NEW">Video de apoyo de cómo descargar el RUT</a>
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoActualizado==='0'">
                <hr>
                <div class="col-md-12">
                  <a href="https://www.youtube.com/watch?v=kxe97irI7Wk" target="_NEW">Video de apoyo de cómo crear el RUT</a>
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoActualizado==='0'">
                <hr>
                <div class="col-md-12">
                  <a href="https://muisca.dian.gov.co/WebRutVirtualInscripcion/#/proceso-guiado/inicio"
                  target="_NEW">Enlace para crear RUT virtual</a>
                </div>
              </div><br>

              <div class="row">
                <hr>
                <div class="col-md-12">
                  <a href="https://www.youtube.com/watch?v=nM0VLHuHLBc" target="_NEW">Video de apoyo de cómo ingresar al portal DIAN si no recuerda usuario y contraseña</a>
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoActualizado==='0'">
                <hr>
                <div class="col-md-12">
                  <a href="https://www.youtube.com/watch?v=c_EkKtza6Q0"  target="_NEW">Video de apoyo de cómo actualizar el RUT</a>
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoActualizado==='1'">
                <hr><h2>Anexe el RUT en formato PDF</h2>
                <div class="col-md-6">
                  <input type="file" (change)="onFileSelected($event, 'rut')" />
                </div>
              </div><br>

            </div>

            <div *ngIf="this.pasosAvance==7">

              <div class="row">
                <hr>
                <div class="col-md-12">
                  <p>Recordatorio: Para este paso debe tener conocimiento de las obligaciones tributarias de su empresa. Para mayor orientación comuníquese con la Dirección de Impuestos y Aduanas Nacionales DIAN.
                    </p>
                </div>
              </div><br>

              <div class="row">
                <hr>
                <div class="col-md-12">
                  <a href="https://www.youtube.com/watch?v=kxe97irI7Wk" target="_NEW">Video de apoyo de cómo crear el RUT</a>
                </div>
              </div><br>

              <div class="row">
                <hr>
                <div class="col-md-12">
                  <a href="https://muisca.dian.gov.co/WebRutVirtualInscripcion/#/proceso-guiado/inicio"  target="_NEW">Enlace para crear RUT virtual</a>
                </div>
              </div><br>

              <div class="row">
                <hr><h2>Anexe el RUT de su empresa en formato PDF</h2>
                <div class="col-md-6">
                  <input type="file" (change)="onFileSelected($event, 'rutEmpresa')" />
                </div>
              </div><br>

            </div>

            <div *ngIf="this.pasosAvance==8">

              <div class="row">
                <hr><h2>¿Ya generó los estatutos de la empresa en proceso de formalización?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoEstatutos" [(ngModel)]="isVerificadoEstatutos" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoEstatutos" [(ngModel)]="isVerificadoEstatutos" value="0">
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoEstatutos==='1'">
                <hr><h2>Adjunte los estatutos de la empresa en formato word o PDF</h2>
                <div class="col-md-6">
                  <input type="file" (change)="onFileSelected($event, 'estatutos')" />
                </div>
              </div><br>

            </div>

            <div *ngIf="this.pasosAvance==9">

              <div class="row">
                <hr><h2>¿Ha realizado ya el acta o las actas de constitución de la empresa?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoActas" [(ngModel)]="isVerificadoActas" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoActas" [(ngModel)]="isVerificadoActas" value="0">
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoActas==='1'">
                <hr><h2>Adjunte las actas en formato word o PDF</h2>
                <div class="col-md-6">
                  <input type="file" (change)="onFileSelected($event, 'acta')" />
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoActas==='0'">
                <hr><h2>¿El tipo jurídico de la empresa del usuario corresponde a una empresa de tipo Sociedad por Acciones Simplificadas,
                  Sociedad anónima ó Sociedad Comandita por acciones?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoSociedad" [(ngModel)]="isVerificadoSociedad" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoSociedad" [(ngModel)]="isVerificadoSociedad" value="0">
                </div>
              </div><br>

            </div>

            <div *ngIf="this.pasosAvance==10">

              <div class="row">
                <hr>
                <div class="col-md-12">
                  <p>Recuerde que para este trámite debe llevar los estatutos o acta de constitución de la empresa, fotocopia del documento de identidad de los socios o accionistas.</p>
                  <p>Acérquese a la notaría más cercana para realizar los trámites notariales correspondientes.</p>
                </div>
              </div><br>

              <div class="row">
                <hr><h2>Adjuntar documento de constitución ante notaria en formato imagen o PDF</h2>
                <div class="col-md-6">
                  <input type="file" (change)="onFileSelected($event, 'sociedad')" />
                </div>
              </div><br>

            </div>

            <div *ngIf="this.pasosAvance==11">

              <div class="row">
                <hr><h2>¿Ya realizó la liquidación del impuesto de registro?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoLiquidacion" [(ngModel)]="isVerificadoLiquidacion" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoLiquidacion" [(ngModel)]="isVerificadoLiquidacion" value="0">
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoLiquidacion==='0'">
                <hr><h2>¿Va a realizar el trámite de manera presencial?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoPresencial" [(ngModel)]="isVerificadoPresencial" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoPresencial" [(ngModel)]="isVerificadoPresencial" value="0">
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoPresencial==='1'">
                <hr>
                <div class="col-md-12">
                  <p>Acérquese a la casa del libro de Bucaramanga y realice el trámite y pago.</p>
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoPresencial==='0'">
                <hr>
                <div class="col-md-12">
                  <a href="https://registro.syc.com.co/oficinavirtual/" target="_NEW">Enlace para realizar el trámite del impuesto de registro de manera virtual</a>
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoLiquidacion==='1'">
                <hr><h2>Anexe la constancia de la radicación del impuesto de registro en formato imagen o PDF</h2>
                <div class="col-md-6">
                  <input type="file" (change)="onFileSelected($event, 'impuestoRegistro')" />
                </div>
              </div><br>

            </div>

            <div *ngIf="this.pasosAvance==12">

              <div class="row">
                <hr><h2>¿El trámite del registro único empresarial y social RUES va a expedirlo de manera presencial?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoRues" [(ngModel)]="isVerificadoRues" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoRues" [(ngModel)]="isVerificadoRues" value="0">
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoRues==='1'">
                <hr>
                <div class="col-md-12">
                  <p>Dirijase a la sede más cercana de la cámara de comercio de Bucaramanga.</p>
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoRues==='0'">
                <hr><h2>¿El usuario va a constituir una Sociedad por acciones simplificadas S.A.S.?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoSas" [(ngModel)]="isVerificadoSas" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoSas" [(ngModel)]="isVerificadoSas" value="0">
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoSas==='1'">
                <hr>
                <div class="col-md-12">
                  <a href="https://www.youtube.com/watch?v=gHWBZqzvunk" target="_NEW">Video de apoyo de cómo diligenciar el RUES de una S.A.S. de manera virtual</a>
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoSas==='0'">
                <hr>
                <div class="col-md-12">
                  <a href="https://www.youtube.com/watch?v=uubCY2mAfGw" target="_NEW">Video de apoyo de cómo diligenciar el RUES de una persona jurídica diferente a la S.A.S.</a>
                </div>
              </div><br>

              <div class="row">
                <hr><h2>Anexe el RUES en formato imagen o PDF</h2>
                <div class="col-md-6">
                  <input type="file" (change)="onFileSelected($event, 'rues')" />
                </div>
              </div><br>

            </div>

            <div *ngIf="this.pasosAvance==13">

              <div class="row">
                <hr><h2>¿Ha formalizado la inscripción de los libros en la cámara de comercio?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoFormalizado" [(ngModel)]="isVerificadoFormalizado" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoFormalizado" [(ngModel)]="isVerificadoFormalizado" value="0">
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoFormalizado==='0'">
                <hr><h2>¿Desea realizar la inscripción de libros de manera presencial?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoInscripcion" [(ngModel)]="isVerificadoInscripcion" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoInscripcion" [(ngModel)]="isVerificadoInscripcion" value="0">
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoInscripcion==='0'">
                <hr>
                <div class="col-md-12">
                  <a href="https://www.camaradirecta.com/crear-mi-empresa/responsabilidad-del-empresario/inscripcion-de-libros-de-comercio/"
                  target="_NEW">Enlace de apoyo de la inscripción de libros de manera virtual</a>
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoInscripcion==='0'">
                <hr>
                <div class="col-md-12">
                  <a href="https://www.sintramites.com/sintramites/dashboard/login.aspx" target="_NEW">Enlace portal de radicación de trámites virtuales</a>
                </div>
              </div><br>

              <div class="row">
                <hr><h2>Anexe soportes de la radicación de libros en formato imagen o PDF</h2>
                <div class="col-md-6">
                  <input type="file" (change)="onFileSelected($event, 'libros')" />
                </div>
              </div><br>

            </div>

            <div *ngIf="this.pasosAvance==14">

               <div class="row">
                <hr><h2>¿Va a contar con algún medio de proyección sonora o audiovisual en el negocio?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoSayco" [(ngModel)]="isVerificadoSayco" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoSayco" [(ngModel)]="isVerificadoSayco" value="0">
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoSayco==='1'">
                <hr><h2>Anexe soportes de la radicación de libros en formato imagen o PDF</h2>
                <div class="col-md-6">
                  <input type="file" (change)="onFileSelected($event, 'sayco')" />
                </div>
              </div><br>

            </div>

            <div *ngIf="this.pasosAvance==15">

              <div class="row">
                <hr>
                <p>Ley 1572 de 2012: Artículo 42. Inspecciones y certificados de seguridad. Los cuerpos de bomberos son los órganos competentes para la realización de las labores de inspecciones y revisiones técnicas en prevención de incendios
                  y seguridad humana en edificaciones públicas, privadas y particularmente en los establecimientos públicos de comercio e industriales, e informarán a la entidad competente el cumplimiento de las normas de seguridad en general. De igual
                  manera, para la realización de eventos masivos y/o pirotécnicos, harán cumplir toda la normatividad vigente en cuanto a la gestión integral del riesgo contra incendio y calamidades conexas.</p>
                <h2>¿De acuerdo a lo anterior, su establecimiento de comercio cuenta ya con el certificado Bomberil?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoBomberil" [(ngModel)]="isVerificadoBomberil" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoBomberil" [(ngModel)]="isVerificadoBomberil" value="0">
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoBomberil==='1'">
                <hr><h2>Anexe el certificado del concepto bomberil en formato imagen o PDF</h2>
                <div class="col-md-6">
                  <input type="file" (change)="onFileSelected($event, 'bomberil')" />
                </div>
              </div><br>

            </div>

            <div *ngIf="this.pasosAvance==16">

              <div class="row">
                <hr><h2>¿Ya ha completado el proceso de inscripción en la Oficina de Industria y Comercio del municipio donde planea operar
                  su empresa?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoIndustria" [(ngModel)]="isVerificadoIndustria" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoIndustria" [(ngModel)]="isVerificadoIndustria" value="0">
                </div>
              </div><br>

              <div class="row" *ngIf="isVerificadoIndustria==='1'">
                <hr><h2>Relacione el número de placa comercial de la empresa</h2>
                <div class="col-md-3">
                  <b>Número : </b>
                </div>
                <div class="col-md-3">
                  <input type="text" [(ngModel)]="placa">
                </div>
              </div><br>

            </div>

            <div *ngIf="this.pasosAvance==17">

              <div class="row">
                <hr>
                <div class="col-md-12">
                  <a href="https://www.policia.gov.co/fse" target="_NEW">¿Qué es el Frente de Seguridad Empresarial de la Policía Nacional?</a>
                </div>
              </div><br>

              <div class="row">
                <hr><h2>¿Desea inscribirse en el programa del Frente de Seguridad Empresarial de la Policía Nacional?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoSeguridad" [(ngModel)]="isVerificadoSeguridad" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoSeguridad" [(ngModel)]="isVerificadoSeguridad" value="0">
                </div>
              </div><br>

              <div class="row">
                <hr>
                <div class="col-md-12">
                  <a href="https://www.policia.gov.co/fse/vinculacion" target="_NEW">Consulta de requisitos y formularios</a>
                </div>
              </div><br>

            </div>

            <div *ngIf="this.pasosAvance==18">

              <div class="row">
                <hr><h2>¿Va a contratar a una o más personas por nómina fija?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoNomina" [(ngModel)]="isVerificadoNomina" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoNomina" [(ngModel)]="isVerificadoNomina" value="0">
                </div>
              </div><br>

              <div class="row">
                <hr><h2>¿Es usted exonerado de realizar los aportes Salud, SENA e ICBF de acuerdo a lo establecido en el
                  artículo 114-1 del Estatuto Tributario Nacional?</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoExonerado" [(ngModel)]="isVerificadoExonerado" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoExonerado" [(ngModel)]="isVerificadoExonerado" value="0">
                </div>
              </div><br>

              <div class="row">
                <hr><h2>¿Ha realizado ya las afiliaciones de su trabajador o trabajadores?. Recuerde que en caso de los menores de edad,
                  debe contar con la autorización de sus padres y los respectivos permisos del ministerio de trabajo.</h2>
                <div class="col-md-3">
                  <b style="color:green">Sí </b>
                  <input type="radio" name="isVerificadoAfiliaciones" [(ngModel)]="isVerificadoAfiliaciones" value="1">
                </div>
                <div class="col-md-3">
                  <b style="color: red;">No </b>
                  <input type="radio" name="isVerificadoAfiliaciones" [(ngModel)]="isVerificadoAfiliaciones" value="0">
                </div>
              </div><br>

            </div>

            <div *ngIf="this.pasosAvance==19">
              <div class="row">
                <hr>
                <div class="col-md-12">
                  <p>Estimado emprendedor ¡felicidades!, hasta este punto ya tu empresa se encuentra formalizada ante las principales entidades, no obstante, debes revisar y diligenciar los demás requisitos que debes cumplir de acuerdo a tu actividad o
                    actividades económicas tales como: permisos sanitarios, licencias de funcionamiento, entre otros.</p>
                </div>
              </div><br>

            </div>

          </div>

        </div>
      </div>
      <br>

      <div class="row">
        <div class="col-md-4">
          <button class="simulacion-button" (click)="endRouteFormalizacion()" *ngIf="this.pasosAvance==99">Finalizar</button>
          <button class="simulacion-button" (click)="guardarUno()" *ngIf="this.pasosAvance==0">Continuemos</button>
          <button class="simulacion-button" (click)="guardarDos()" *ngIf="this.pasosAvance==1">Continuemos</button>
          <button class="simulacion-button" (click)="guardarTres()" *ngIf="this.pasosAvance==2">Continuemos</button>
          <button class="simulacion-button" (click)="guardarCuatro()" *ngIf="this.pasosAvance==3">Continuemos</button>
          <button class="simulacion-button" (click)="guardarCinco()" *ngIf="this.pasosAvance==4">Continuemos</button>
          <button class="simulacion-button" (click)="guardarSeis()" *ngIf="this.pasosAvance==5">Continuemos</button>
          <button class="simulacion-button" (click)="guardarSiete()" *ngIf="this.pasosAvance==6">Continuemos</button>
          <button class="simulacion-button" (click)="guardarOcho()" *ngIf="this.pasosAvance==7">Continuemos</button>
          <button class="simulacion-button" (click)="guardarNueve()" *ngIf="this.pasosAvance==8">Continuemos</button>
          <button class="simulacion-button" (click)="guardarDiez()" *ngIf="this.pasosAvance==9">Continuemos</button>
          <button class="simulacion-button" (click)="guardarOnce()" *ngIf="this.pasosAvance==10">Continuemos</button>
          <button class="simulacion-button" (click)="guardarDoce()" *ngIf="this.pasosAvance==11">Continuemos</button>
          <button class="simulacion-button" (click)="guardarTrece()" *ngIf="this.pasosAvance==12">Continuemos</button>
          <button class="simulacion-button" (click)="guardarCatorce()" *ngIf="this.pasosAvance==13">Continuemos</button>
          <button class="simulacion-button" (click)="guardarQuince()" *ngIf="this.pasosAvance==14">Continuemos</button>
          <button class="simulacion-button" (click)="guardarDieciseis()" *ngIf="this.pasosAvance==15">Continuemos</button>
          <button class="simulacion-button" (click)="guardarDiecisiete()" *ngIf="this.pasosAvance==16">Continuemos</button>
          <button class="simulacion-button" (click)="guardarDieciocho()" *ngIf="this.pasosAvance==17">Continuemos</button>
          <button class="simulacion-button" (click)="guardarDiecinueve()" *ngIf="this.pasosAvance==18">Continuemos</button>
          <button class="simulacion-button" (click)="guardarVeinte()" *ngIf="this.pasosAvance==19">Continuemos</button>
        </div>

        <div class="col-md-4">
          <button class="ressim-button" (click)="reiniciarModulo()" *ngIf="this.pasosAvance>0">Reiniciar Módulo</button>
          <button class="ressim-button" (click)="reiniciarTodo()" *ngIf="this.pasosAvance>0">Reiniciar Todo</button>
        </div>

        <div class="col-md-4">
          <!--****************************************************************************-->
          <div>
            <button class="plussim-button" (click)="homeRoute()">Volver al menú</button>
          </div>
          <!--****************************************************************************-->
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <img src="./assets/imagenes/formalizacion-empresa.png" class="img-fluid" id="img-hobbies" alt="Imagen" style="max-height: 100%; max-width: 100%;">
    </div>

    <div class="col-md-1">
    </div>
  </div>

  <br>
  <hr>

  <img src="./assets/imagenes/barrae1.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==0">
  <img src="./assets/imagenes/barrae2.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==1">
  <img src="./assets/imagenes/barrae3.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==2">
  <img src="./assets/imagenes/barrae4.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==3">
  <img src="./assets/imagenes/barrae5.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==4">
  <img src="./assets/imagenes/barrae6.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==5">
  <img src="./assets/imagenes/barrae7.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==6">
  <img src="./assets/imagenes/barrae8.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==7">
  <img src="./assets/imagenes/barrae9.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==8">
  <img src="./assets/imagenes/barrae10.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==9">
  <img src="./assets/imagenes/barrae11.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==10">
  <img src="./assets/imagenes/barrae12.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==11">
  <img src="./assets/imagenes/barrae13.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==12">
  <img src="./assets/imagenes/barrae14.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==13">
  <img src="./assets/imagenes/barrae15.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==14">
  <img src="./assets/imagenes/barrae16.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==15">
  <img src="./assets/imagenes/barrae17.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==16">
  <img src="./assets/imagenes/barrae18.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==17">
  <img src="./assets/imagenes/barrae19.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==18">
  <img src="./assets/imagenes/barrae20.png" style="width: 100%; height: auto;" alt="Imagen" class="img-fluid" *ngIf="this.pasosAvance==19">

  <br>
  <hr>

</div>
