<div class="container">
  <h1>ALGUNAS OPORTUNIDADES QUE PODEMOS PRESENTAR SON:</h1>
  <div class="row">
    <div class="col-md-6">
      <h2>ALGUNOS EJEMPLOS DE OPORTUNIDADES:</h2>
      <p>1) Empresas De Apoyo:</p>
      <ul>
        <li>Agencias de marketing: Brindan servicios de publicidad, estrategias digitales y gestión de redes sociales.</li>
        <li>Consultorías empresariales: Ofrecen asesoramiento y recomendaciones para mejorar la eficiencia y rentabilidad de una empresa.</li>
      </ul>
      <p>2) Instituciones De Apoyo:</p>
      <ul>
        <li>Centros de formación y capacitación: Ofrecen programas de aprendizaje y desarrollo profesional.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h2>LISTEMOS ENTRE 3 Y 4 OPORTUNIDADES:</h2>
      <ul>
        <input type="text" class="form-control" placeholder="Digite aquí">
        <input type="text" class="form-control" placeholder="Digite aquí">
        <input type="text" class="form-control" placeholder="Digite aquí">
        <input type="text" class="form-control" placeholder="Digite aquí">
      </ul>
      <button class="btn btn-primary" (click)="estrategiasRoute()">Finalizar</button>
      <button class="btn btn-success">Guardar y Volver al Menú</button>
    </div>
  </div>
</div>
