<div class="container">

  <br>
  <span><img src="./assets/iconos/bombilla.svg" style="max-width: 40px; max-height: 40px;" alt="Imagen" class="img-fluid"></span>
  <span><b style="font-size: 1.8rem;">  Ideación</b></span>
  <hr>
  <h1>Algunas oportunidades que podemos presentar son:</h1>
  <img src="./assets/imagenes/separador.jpg" style="max-width: 140px; max-height: 20px;" alt="Imagen" class="img-fluid">
  <br>

  <div class="row">
    <div class="col-md-6">
      <h2>Ejemplos de oportunidades:</h2>
      <ul>
        <li>Tecnologías Disponibles.</li>
        <li>Inversionistas- Socios.</li>
        <li>Leyes- Decretos- Normas favorables.</li>
        <li>Aliados.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h2>LISTEMOS ENTRE 3 Y 4 OPORTUNIDADES:</h2>
      <ul>
        <input type="text" class="form-control" placeholder="Digite aquí" [(ngModel)]="oportunidades1" name="oportunidades1" required>
        <input type="text" class="form-control" placeholder="Digite aquí" [(ngModel)]="oportunidades2" name="oportunidades2" required>
        <input type="text" class="form-control" placeholder="Digite aquí" [(ngModel)]="oportunidades3" name="oportunidades3" required>
        <input type="text" class="form-control" placeholder="Digite aquí" [(ngModel)]="oportunidades4" name="oportunidades4">
      </ul>
      <div class="row">
        <div class="col-md-4">
          <button class="ideacion-button" (click)="terminarRoute()">Finalizar</button>
        </div>
        <div class="col-md-4">
          <button class="plus-button" (click)="continuarRoute()">Guardar y regresar</button>
        </div>
      </div>
    </div>
  </div>
</div>
