<h1>Y que tal si nos cuentas sobres tus hobbies?</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p>De la siguiente lista, selecciona o adiciona de ser necesario máximo 5 hobbies, valoralos según su importancia.</p>
      <img src="./assets/hobbies.jpg" alt="Imagen" class="img-fluid" style="max-height: 90%; max-height: 90%;">
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <div class="form-check" #checkboxes *ngFor="let elemento of arrayOpciones">
            <label>
              <input type="checkbox" class="form-check-input" [(ngModel)]="elemento.seleccionado" (change)="onCheckboxChange($event, elemento)" value="{{elemento.idHobby}}">
              {{ elemento.hobby }}
            </label>
          </div>
          <div class="form-check">
            <input type="checkbox" id="otros" class="form-check-input" name="otros" [(ngModel)]="otros">
            <label for="otros" class="form-check-label">Otros</label>
          </div>
          <div *ngIf="otros" class="form-group">
            <label>Ingresa tu hobbie personalizado:</label>
            <input type="text" class="form-control" [(ngModel)]="hobbienuevo" placeholder="Nombre del hobbie">
            <button type="submit" (click)="hobbieSave()">Guardar Nuevo</button>
          </div>
        </div>
      </div>
      <div *ngIf="checkedCount>5" class="form-group">
        <p>Ha excedido la cantidad de posibilidades a elegir, por favor elija sólo un máximo de 5</p>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="custom-div">
         <form class="custom-form" method="post">
           <button *ngIf="checkedCount<6" type="submit" (click)="validateHobbies()">Continuemos</button>
         </form>
       </div>
    </div>
    </div>
  </div>
</div>
