<div class="container">

  <br>
  <span><img src="./assets/iconos/bombilla.svg" style="max-width: 40px; max-height: 40px;" alt="Imagen" class="img-fluid"></span>
  <span><b style="font-size: 1.8rem;">  Ideación</b></span>
  <hr>
  <h1>Ahora, algunas ideas de negocio para tí...</h1>
  <img src="./assets/imagenes/separador.jpg" style="max-width: 140px; max-height: 20px;" alt="Imagen" class="img-fluid">
  <br>

  <div class="row">
    <div class="col-md-5">
      <br>
      <h2>Selecciona 3 ideas que más se relacionan con tu emprendimiento.</h2>
        <div class="form-check" #checkboxes *ngFor="let elemento of arrayOpciones">
          <label>
            <input type="checkbox" class="form-check-input" [(ngModel)]="elemento.seleccionado" (change)="onCheckboxChange($event, elemento)" value="{{ elemento.idIdea }}">
            {{ elemento.idea }}
          </label>
        </div>
    </div>

    <div class="col-md-2">
      <br><br>
      <div class="form-group">
        <button class="plus-button" type="submit" (click)="openPopup()">Ingresa tu idea personalizada</button>
      </div>
      <div *ngIf="checkedCount>3" class="form-group">
        <p>Ha excedido la cantidad de posibilidades a elegir, por favor elija sólo un máximo de 3</p>
      </div>
      <form method="post">
        <button class="ideacion-button" *ngIf="checkedCount==3" type="submit" (click)="validateIdeas()">Continuemos</button>
      </form>
      <!--****************************************************************************-->
        <button class="plus-button" (click)="homeRoute()">Volver al menú</button>
      <!--****************************************************************************-->
    </div>

    <div class="col-md-5">
        <br>
        <img src="./assets/imagenes/idea-de-negocios.png" alt="Imagen" class="img-fluid" id="img-ideas" style="max-height: 100%; max-width: 100%;">
     </div>

  </div>

</div>

