<div class="general">
  <div style="text-align: center;">
    <img src="./assets/imagenes/banner.png" style="max-width: 70%;"/><br>
  </div>
  <br>
  <div class="d-flex justify-content-center align-items-center">
    <div class="row" style="max-width: 70%;">

      <div class="col-xs-12 col-md-4 mb-3">
        <mat-card class="example-card" (click)="usuariosRoute()">
          <img mat-card-image src="./assets/imagenes/crear-small.png" alt="Crear Usuarios">
          <mat-card-content>
            <br><h1>Crear Usuarios</h1>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-xs-12 col-md-4 mb-3">
        <mat-card class="example-card" (click)="listadoRoute()">
          <img mat-card-image src="./assets/imagenes/listar-small.png" alt="Listar Usuarios">
          <mat-card-content>
            <br><h1>Listar Usuarios</h1>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-xs-12 col-md-4">
        <mat-card class="example-card" (click)="accionesRoute()">
          <img mat-card-image src="./assets/imagenes/acciones-small.png" alt="Acciones">
          <mat-card-content>
            <br><h1>Acciones</h1>
          </mat-card-content>
        </mat-card>
      </div>

    </div>
  </div>
</div>

