<div class="container">
  <div class="left-section">
    <br><br>
    <p>De tu lista de criterios, valóralos porcentualmente de acuerdo a la importancia, recuerde que la suma de porcentajes no debe exceder o ser menor que el 100% y no debe repetir valores.</p>
    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
            <table>
              <tr *ngFor="let item of arrayOpciones">
                <div class="card">
                  <div class="card-body">
                    <td>
                      {{ item.criterio }} :
                    </td>
                    <td>
                      <input type="number" [(ngModel)]="selectedValues[item.idCriterio]" min="1" max="{{ 99-arrayOpciones.length }}" (change)="sendNumberValue(item.idCriterio, selectedValues[item.idCriterio])">
                    </td>
                  </div>
                </div>
              </tr>
            </table>
        </div>
    <div class="col-md-4">
      <img src="./assets/evaluacion.png" alt="Imagen" class="img-fluid" style="max-height: 60%; max-width: 60%;">
      <div class="col-xs-12 col-md-4">
        <div class="custom-div">
          <form class="custom-form" (submit)="validateValues()">
            <button type="submit">Continuemos</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
