<h1>Resumen</h1>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <label><h2>Decide un nombre para tu empresa.</h2></label>
      <input type="text" class="form-control" placeholder="Decide un nombre para tu empresa.">
      <img src="./assets/teclado.jpg" alt="Imagen 1" class="img-fluid" style="max-height: 16%; min-width: 100%;">
      <br><br>
      <label><h2>Decide un slogan para tu empresa.</h2></label>
      <input type="text" class="form-control" placeholder="Decide un slogan para tu empresa.">
      <img src="./assets/slogan.jpg" alt="Imagen 3" class="img-fluid" style="max-height: 16%; min-width: 100%;">
    </div>
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-6">
          <h2>Misión</h2>
          <textarea cols="30" rows="18">
            Lorem ipsum dolor sit amet,
            consectetur adipiscing elit.
            Curabitur venenatis ex orci,
            vitae finibus elit ullamcorper
            sed. Duis sodales est vel
            quam aliquet, non
            consectetur tortor posuere.
            Sed ex orci, consectetur eget
            quam ac, blandit
            pellentesque risus. Mauris
            ultricies in turpis nec
            maximus. Aliquam ultricies
            mollis maximus. In ac tempus
            justo. Lorem ipsum dolor sit
            amet, consectetur adipiscing
            elit.
          </textarea>
        </div>
        <div class="col-md-6">
          <h2>Visión</h2>
          <textarea cols="30" rows="18">
            Lorem ipsum dolor sit amet,
            consectetur adipiscing elit.
            Curabitur venenatis ex orci,
            vitae finibus elit ullamcorper
            sed. Duis sodales est vel
            quam aliquet, non
            consectetur tortor posuere.
            Sed ex orci, consectetur eget
            quam ac, blandit
            pellentesque risus. Mauris
            ultricies in turpis nec
            maximus. Aliquam ultricies
            mollis maximus. In ac tempus
            justo. Lorem ipsum dolor sit
            amet, consectetur adipiscing
            elit.
          </textarea>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h2>&nbsp;&nbsp;&nbsp;Carga tu logo</h2>
      <img src="./assets/logo.png" alt="Imagen 2" class="img-fluid" style="max-width: 70%; max-height: 60%;">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10"><input type="file"/></div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-md-3">
          <div class="custom-div">
           <form class="custom-form" method="post">
             <button type="submit" (click)="fakeRoute()">Continuemos</button>
           </form>
         </div>
        </div>
      </div>

    </div>

    </div>
</div>
