.container {
  margin-top: 20px;
}

h1 {
  text-align: left;
}

h2 {
  font-size: 0.9rem;
}

.empresa-card {
  max-width: 600px;
  border-radius: 7px;
  border: 1px solid black;
}

.empresa-header-image {
  background-image: url('/assets/iconos/nombre-empresa.svg');
  background-color: #F9D65D;
  background-size: 87% 87%; /* Ajusta la imagen de fondo al tamaño del contenedor cuadrado */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  background-position: center;
}

.slogan-card {
  max-width: 600px;
  border-radius: 7px;
  border: 1px solid black;
}

.slogan-header-image {
  background-image: url('/assets/iconos/slogan-empresa.svg');
  background-color: #F9D65D;
  background-size: 87% 87%; /* Ajusta la imagen de fondo al tamaño del contenedor cuadrado */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  background-position: center;
}

.mision-card {
  max-width: 600px;
  border-radius: 7px;
  border: 1px solid black;
}

.mision-header-image {
  background-image: url('/assets/iconos/mision.svg');
  background-color: #F9D65D;
  background-size: 87% 87%; /* Ajusta la imagen de fondo al tamaño del contenedor cuadrado */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  background-position: center;
}

.vision-card {
  max-width: 600px;
  border-radius: 7px;
  border: 1px solid black;
}

.vision-header-image {
  background-image: url('/assets/iconos/vision.svg');
  background-color: #F9D65D;
  background-size: 87% 87%; /* Ajusta la imagen de fondo al tamaño del contenedor cuadrado */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  background-position: center;
}

.idea-card {
  max-width: 1200px;
  border-radius: 7px;
  border: 1px solid black;
}

.idea-header-image {
  background-image: url('/assets/iconos/bombilla.svg');
  background-color: #F9D65D;
  background-size: 40px 40px; /* Ajusta la imagen de fondo al tamaño del contenedor cuadrado */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  background-position: center;
}

.ideacion-button {
  margin-top: 10px;
  padding: 8px;
  background: #FFD401 0% 0% no-repeat padding-box;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.card {
  border-radius: 7px;
  border: 1px solid black;
}

.card-header {
  background-color: #F9D65D; /* Cambia el color de fondo según tus preferencias */
  color: black; /* Cambia el color del texto si es necesario */
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 15px; /* Ajusta el relleno según sea necesario */
}

.card-header h2 {
  margin-top: 10px; /* Espacio entre el icono y el título */
}

.parrafo{
  margin-bottom: 1vw;
}

@media (max-width:767px){

  .tarjeta-resumen{
    margin-bottom: 5.8vw;
  }

  .parrafo{
    margin-bottom: 2vw;
  }

  .perfilemprendedor{
    margin-bottom: 5vw;
  }
}