<div class="container">

  <br>
  <span><img src="./assets/iconos/bombilla.svg" style="max-width: 40px; max-height: 40px;" alt="Imagen" class="img-fluid"></span>
  <span><b style="font-size: 1.8rem;">  Ideación</b></span>
  <hr>
  <h1>Algunas amenazas que podemos presentar son:</h1>
  <img src="./assets/imagenes/separador.jpg" style="max-width: 140px; max-height: 20px;" alt="Imagen" class="img-fluid">
  <br>

  <div class="row">
    <div class="col-md-6">
      <h2>Ejemplos de amenazas:</h2>
      <ul>
        <li>Amenazas Sociales</li>
        <li>Amenazas Económicas</li>
        <li>Competencia.</li>
        <li>Impuestos Desfavorables.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h2>LISTEMOS ENTRE 3 Y 4 AMENAZAS:</h2>
      <ul>
        <input type="text" class="form-control" placeholder="Digite aquí" [(ngModel)]="amenazas1" name="amenazas1" required>
        <input type="text" class="form-control" placeholder="Digite aquí" [(ngModel)]="amenazas2" name="amenazas2" required>
        <input type="text" class="form-control" placeholder="Digite aquí" [(ngModel)]="amenazas3" name="amenazas3" required>
        <input type="text" class="form-control" placeholder="Digite aquí" [(ngModel)]="amenazas4" name="amenazas4">
      </ul>
      <div class="row">
        <div class="col-md-4">
          <button class="ideacion-button" (click)="terminarRoute()">Finalizar</button>
        </div>
        <div class="col-md-4">
          <button class="plus-button" (click)="continuarRoute()">Guardar y regresar</button>
        </div>
      </div>
    </div>
  </div>
</div>
