<div class="container">
  <h1>ALGUNAS AMENAZAS QUE PODEMOS PRESENTAR SON:</h1>
  <div class="row">
    <div class="col-md-6">
      <h2>ALGUNOS EJEMPLOS DE AMENAZAS:</h2>
      <p>1) Políticas Desfavorables: Algunos ejemplos de políticas desfavorables podrían incluir un aumento de impuestos para las empresas privadas, restricciones al comercio internacional.</p>
      <p>2) Normas Desfavorables: Pueden incluir restricciones a la inversión extranjera, barreras burocráticas para el registro o la obtención de permisos, reglamentaciones laborales restrictivas.</p>
    </div>
    <div class="col-md-6">
      <h2>LISTEMOS ENTRE 3 Y 4 AMENAZAS:</h2>
      <ul>
        <li>Ampliación de la competencia en el mercado local</li>
        <li>Cambios en las regulaciones gubernamentales</li>
        <li>Inestabilidad económica a nivel global</li>
        <li>Avances tecnológicos que superan nuestra oferta actual</li>
      </ul>
      <button class="btn btn-primary" (click)="debilidadesRoute()">Finalizar</button>
      <button class="btn btn-success">Guardar y Volver al Menú</button>
    </div>
  </div>
</div>
