<div class="container">
  <h1>ESTRATEGIAS FORTALEZAS VS AMENAZAS</h1>
  <label for="realizara">QUE REALIZARÁ:</label>
  <input type="text" id="realizara" class="form-control" placeholder="Digite aquí">
  <label for="aliados">QUE ALIADOS TENDRÁ:</label>
  <input type="text" id="aliados" class="form-control" placeholder="Digite aquí">
  <label for="inicio">CUANDO VA A INICIAR:</label>
  <input type="date" id="inicio" class="form-control">
  <button class="btn btn-primary" (click)="estrategias2d2aRoute()">Finalizar</button>
  <button class="btn btn-success">Guardar y Volver al Menú</button>
</div>
